<div class="row">
    <div class="col-12">
      <component-messages #messages></component-messages>
      <div class="card">
        <div class="card-header">
          <div class="offset-10 card-header-button" style="text-align: end;">
            <button class="btn btn-circle btn-sm btn-primary-comfandi m-r-5">
              <i aria-hidden="true" class="icon-magnifier text"></i>
            </button>
          </div>
        </div>
        <div class="card-body">

          <!-- <form class="form-group m-t-30" autocomplete="off" [formGroup]="filterForm">
            <div class="row">
              <div class="col-6">
                <label for="filterName" class="colorTitle">{{ 'company.label.userName.label' | translate }}</label>
                <input type="text" class="form-control" id="filterName" name="filterName" formControlName="filterName"
                  placeholder="{{ 'company.label.userName.placeHolder' | translate }}">
              </div>
            </div>
          </form> -->

          <div class="table table-responsive smart-table">
            <smart-table #smartTable [settings]="settings" [rowCount]="totalRecords" (edit)="editGlobalServices($event)"
              [labelNoRecords]="'general.noRecords'" [source]="globalServicesList" (sortColumn)="sortDataTable($event)"
              (pageChange)="changePage($event)">
            </smart-table>
          </div>

        </div>
      </div>
    </div>
</div>

<id-modal #editModal [styles]="{'padding': '0% 3% 0% 3%'}" [windowClass]="'modal-xl'" [closeModalInAcceptEvent]=false
    [showButtons]=true size="xl" [acceptMessage]="editModalAceptText" [closeMessage]="editModalCloseText"
    title="{{editModalTitle}}" (accept)="updateService()">
    <ng-container modal-body>
        <div>
          <form [formGroup]="editForm" class="form-group m-t-30" autocomplete="off" novalidate>
            <div class="row">
                <div class="col-4">
                    <label for="userName" class="colorTitle">{{ 'generalServices.edit.serviceName.label' | translate }}</label>
                    <input type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['servicesName'].errors) || (editForm.controls['servicesName'].errors && (editForm.controls['servicesName'].dirty || editForm.controls['servicesName'].touched))}"
                        id="servicesName" name="servicesName" formControlName="servicesName" placeholder="{{ 'generalServices.edit.serviceName.label' | translate }}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['servicesName'].errors) || (editForm.controls['servicesName'].errors && (editForm.controls['servicesName'].dirty || editForm.controls['servicesName'].touched))">
                        <span *ngIf="editForm.controls['servicesName'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <label for="userLastName" class="colorTitle">{{ 'generalServices.edit.amountMin.label' | translate }}</label>
                    <input type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['amounMin'].errors) || (editForm.controls['amounMin'].errors && (editForm.controls['amounMin'].dirty || editForm.controls['amounMin'].touched))}"
                        id="amounMin" name="amounMin" formControlName="amounMin" placeholder="{{ 'generalServices.edit.amountMin.label' | translate }}"
                        currencyMask [options]="{ prefix: '$ ', thousands: '.', decimal: ',', precision: 2, integerMax: 12, allowNegative: false}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['amounMin'].errors) || (editForm.controls['amounMin'].errors && (editForm.controls['amounMin'].dirty || editForm.controls['amounMin'].touched))">
                        <span *ngIf="editForm.controls['amounMin'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <label for="stateServices" class="colorTitle">{{ 'generalServices.edit.state.label' | translate }}</label>
                    <select class="form-control custom-select" id="filterState" name="stateServices"
                      formControlName="stateServices">
                      <option selected [ngValue]=undefined>{{'general.dropState.selectOne' | translate}}
                      </option>
                      <option [ngValue]="'V'">{{'general.dropState.valid' | translate}}</option>
                      <option [ngValue]="'N'">{{'general.dropState.inValid' | translate}}</option>
                    </select>
                </div>
            </div>
          </form>
          <div class="row m-b-10">
              <div class="col-3">
                  <label for="userLastName" class="colorTitle">{{ 'generalServices.edit.operationDays.label' | translate }}</label>
              </div>
              <div class="col-9">
                  <div class="col-4" style="margin-left: -2%">
                      <label class="radio-inline m-r-5">
                          <input type="radio" name="group1" [(ngModel)]="limitedDays" [value]=false> Ilimitados
                      </label>
                      <label class="radio-inline m-r-5">
                          <input type="radio" name="group1" [(ngModel)]="limitedDays" [value]=true> Limitados
                      </label>
                  </div>
                  <div class="col-9" *ngIf="limitedDays" style="margin-left: -2%">
                      <div>
                          <label class="checkbox-inline m-r-5"><input type="checkbox" id="" trueFalseValue trueValue="mo" falseValue="false" [(ngModel)]="days[0]" [value]="'LU'"> {{'general.days.mo' | translate}}  </label>
                          <label class="checkbox-inline m-r-5"><input type="checkbox" id="" trueFalseValue trueValue="tu" falseValue="false" [(ngModel)]="days[1]" [value]="'MA'"> {{'general.days.tu' | translate}}  </label>
                          <label class="checkbox-inline m-r-5"><input type="checkbox" id="" trueFalseValue trueValue="we" falseValue="false" [(ngModel)]="days[2]" [value]="'MI'"> {{'general.days.we' | translate}}  </label>
                          <label class="checkbox-inline m-r-5"><input type="checkbox" id="" trueFalseValue trueValue="th" falseValue="false" [(ngModel)]="days[3]" [value]="'JU'"> {{'general.days.th' | translate}}  </label>
                          <label class="checkbox-inline m-r-5"><input type="checkbox" id="" trueFalseValue trueValue="fr" falseValue="false" [(ngModel)]="days[4]" [value]="'VI'"> {{'general.days.fr' | translate}}  </label>
                          <label class="checkbox-inline m-r-5"><input type="checkbox" id="" trueFalseValue trueValue="sa" falseValue="false" [(ngModel)]="days[5]" [value]="'SA'"> {{'general.days.sa' | translate}}  </label>
                          <label class="checkbox-inline m-r-5"><input type="checkbox" id="" trueFalseValue trueValue="su" falseValue="false" [(ngModel)]="days[6]" [value]="'DO'"> {{'general.days.su' | translate}}  </label>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row m-b-10">
              <div class="col-3">
                  <label for="userLastName" class="colorTitle">{{ 'generalServices.edit.operationHours.label' | translate }}</label>
              </div>
              <div class="col-9">
                  <div class="col-4" style="margin-left: -2%">
                      <label class="radio-inline m-r-5">
                          <input type="radio" name="group2" [(ngModel)]="limitedHours" [value]=false> Ilimitados
                      </label>
                      <label class="radio-inline m-r-5">
                          <input type="radio" name="group2" [(ngModel)]="limitedHours" [value]=true> Limitados
                      </label>
                  </div>
                  <div class="col-9 d-flex" *ngIf="limitedHours" style="margin-left: -2%">
                      <div>
                          <sd-timepicker [(ngModel)]="timeInitial" [label]="'Hora Inicial'" [meridian]="false"></sd-timepicker>
                      </div>
                      <div>
                          <sd-timepicker [(ngModel)]="timeFinal" [label]="'Hora final'" [meridian]="false"></sd-timepicker>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </ng-container>
</id-modal>
