<div class="row">
  <div class="col-12">
    <component-messages #messages></component-messages>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="campaignsForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-6">
              <input
                formControlName="documentNumber"
                class="form-control"
                (keypress)="numbersOnly($event)"
                placeholder="número documento"
                maxlength="10"
                [ngClass]="{
                  'is-invalid': submitted && c.documentNumber.errors
                }"
              />
              <div
                *ngIf="submitted && c.documentNumber.errors"
                class="invalid-feedback"
              >
                <div *ngIf="c.documentNumber.errors.required">Requerido</div>
                <div *ngIf="c.documentNumber.errors.minlength">
                  Mínimo 7 caracteres
                </div>
                <div *ngIf="c.documentNumber.errors.maxlength">
                  Máximo 10 caracteres
                </div>
                <div *ngIf="c.documentNumber.errors.pattern">
                  Número inválido
                </div>
              </div>
            </div>
            <div class="col-3">
              <button class="btn btn-primary-credi btn-block">Buscar</button>
            </div>
            <div class="col-3">
              <button
                class="btn btn-primary-credi btn-block"
                type="button"
                (click)="clear()"
              >
                Limpiar
              </button>
            </div>
          </div>
        </form>
        <div
          class="table table-responsive smart-table"
          aria-describedby="Tabla Campañas"
        >
          <table class="table" aria-describedby="TableCampaign">
            <thead>
              <tr>
                <th scope="col">Crédito</th>
                <th scope="col">Compañia</th>
                <th scope="col">Monto</th>
                <th scope="col">Plazo</th>
                <th scope="col">Valor cuota</th>
                <th scope="col">Valor disponible</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of campaigns">
                <th scope="row">{{ item.Credit }}</th>
                <td>{{ item.Company }}</td>
                <td>{{ item.Amount | currency }}</td>
                <td>{{ item.Term }}</td>
                <td>{{ item.ValueCoute | currency }}</td>
                <td>{{ item.ValueAvailableDisburse | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
