<div class="row">
  <div class="col-12">
    <component-messages #messages></component-messages>
    <div class="card">
      <div class="card-header">
        <div class="offset-10 card-header-button" style="text-align: end">
          <button
            class="btn btn-circle btn-sm btn-primary-credi m-r-5"
            validate
            [actions]="[32]"
            (click)="openCreateProfileModal()"
          >
            <i aria-hidden="true" class="ti-plus text font-weight-bold"></i>
          </button>
          <button
            class="btn btn-circle btn-sm btn-primary-credi m-r-5"
            validate
            [actions]="[31]"
            (click)="getCampaignByName()"
          >
            <i aria-hidden="true" class="icon-magnifier text"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form
          class="form-group m-t-30"
          autocomplete="off"
          [formGroup]="filterForm"
        >
          <div class="row">
            <div class="col-6">
              <label for="campaignName" class="colorTitle">{{
                'campaign.labels.campaignName.label' | translate
              }}</label>
              <!-- <input type="text" (keyup)="getCampaignByName()" formControlName="campaignName" class="form-control" id="campaignName" name="campaignName" placeholder="{{ 'campaign.labels.campaignName.placeHolder' | translate }}" /> -->
              <input
                type="text"
                formControlName="campaignName"
                class="form-control"
                id="campaignName"
                name="campaignName"
                placeholder="{{
                  'campaign.labels.campaignName.placeHolder' | translate
                }}"
              />
            </div>
            <div class="col-6">
              <label for="campaignState" class="colorTitle">{{
                'campaign.labels.campaignState' | translate
              }}</label>
              <select
                formControlName="campaignState"
                class="form-control custom-select"
                id="campaignState"
                name="campaignState"
                (change)="getCampaignByStatus()"
              >
                <option selected [ngValue]="undefined">
                  {{ 'campaign.dropState.selectOne' | translate }}
                </option>
                <option [ngValue]="'V'">
                  {{ 'campaign.dropState.valid' | translate }}
                </option>
                <option [ngValue]="'N'">
                  {{ 'campaign.dropState.inValid' | translate }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary btn-block" (click)="prueba()">
                Enviar
              </button>
            </div>
          </div>
        </form>

        <div class="table table-responsive smart-table">
          <smart-table
            #smartTable
            [settings]="settings"
            [actionEditId]="33"
            [actionDeleteId]="34"
            [rowCount]="totalRecords"
            [labelNoRecords]="'general.noRecords'"
            [source]="campaignList"
            (edit)="editProfile($event)"
            (editConfirm)="confirmEdit()"
            (delete)="confirmDelete($event)"
            (sortColumn)="sortDataTable($event)"
            (pageChange)="changePage($event)"
          >
          </smart-table>
        </div>
      </div>
    </div>
  </div>
</div>

<id-modal
  #createModal
  [showButtons]="true"
  size="lg"
  [closeModalInAcceptEvent]="false"
  [acceptMessage]="createModalAceptText"
  [closeMessage]="createModalCloseText"
  title="{{ createModalTitle }}"
  (accept)="createCampaign()"
  (close)="closeCreate()"
>
  <ng-container modal-body>
    <div class="col-12">
      <form
        [formGroup]="createForm"
        class="form-group m-t-30"
        autocomplete="off"
        novalidate
      >
        <div class="row m-b-10">
          <div class="col-4">
            <label for="create_cam_name" class="colorTitle">{{
              'campaign.labels.campaignName.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <input
              name="create_cam_name"
              id="create_cam_name"
              formControlName="create_cam_name"
              placeholder="{{
                'campaign.labels.campaignName.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError && createForm.controls['create_cam_name'].errors) ||
                  (createForm.controls['create_cam_name'].errors &&
                    (createForm.controls['create_cam_name'].dirty ||
                      createForm.controls['create_cam_name'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError && createForm.controls['create_cam_name'].errors) ||
                (createForm.controls['create_cam_name'].errors &&
                  (createForm.controls['create_cam_name'].dirty ||
                    createForm.controls['create_cam_name'].touched))
              "
            >
              <span
                *ngIf="createForm.controls['create_cam_name'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>

        <div class="row m-b-10">
          <div class="col-4">
            <label for="create_cam_code" class="colorTitle">{{
              'campaign.labels.code.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <input
              name="create_cam_code"
              id="create_cam_code"
              formControlName="create_cam_code"
              placeholder="{{ 'campaign.labels.code.placeHolder' | translate }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError && createForm.controls['create_cam_code'].errors) ||
                  (createForm.controls['create_cam_code'].errors &&
                    (createForm.controls['create_cam_code'].dirty ||
                      createForm.controls['create_cam_code'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError && createForm.controls['create_cam_code'].errors) ||
                (createForm.controls['create_cam_code'].errors &&
                  (createForm.controls['create_cam_code'].dirty ||
                    createForm.controls['create_cam_code'].touched))
              "
            >
              <span
                *ngIf="createForm.controls['create_cam_code'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>

        <div class="row m-b-10">
          <div class="col-4">
            <label for="create_cam_code_entity" class="colorTitle">{{
              'campaign.labels.codeEntity.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <select
              class="form-control custom-select"
              id="create_cam_code_entity"
              name="create_cam_code_entity"
              formControlName="create_cam_code_entity"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    createForm.controls['create_cam_code_entity'].errors) ||
                  (createForm.controls['create_cam_code_entity'].errors &&
                    (createForm.controls['create_cam_code_entity'].dirty ||
                      createForm.controls['create_cam_code_entity'].touched))
              }"
            >
              <option [value]="undefined" selected>
                {{ 'general.forms.select.placeHolder.select' | translate }}
              </option>
              <option *ngFor="let list of listCompany" [ngValue]="list.comID">
                {{ list.com_name }}
              </option>
            </select>
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  createForm.controls['create_cam_code_entity'].errors) ||
                (createForm.controls['create_cam_code_entity'].errors &&
                  (createForm.controls['create_cam_code_entity'].dirty ||
                    createForm.controls['create_cam_code_entity'].touched))
              "
            >
              <span
                *ngIf="
                  createForm.controls['create_cam_code_entity'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>

        <div class="row m-b-10">
          <div class="col-4">
            <label for="create_cam_sales_force" class="colorTitle">{{
              'campaign.labels.salesForce.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <input
              name="create_cam_sales_force"
              id="create_cam_sales_force"
              formControlName="create_cam_sales_force"
              placeholder="{{
                'campaign.labels.salesForce.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    createForm.controls['create_cam_sales_force'].errors) ||
                  (createForm.controls['create_cam_sales_force'].errors &&
                    (createForm.controls['create_cam_sales_force'].dirty ||
                      createForm.controls['create_cam_sales_force'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  createForm.controls['create_cam_sales_force'].errors) ||
                (createForm.controls['create_cam_sales_force'].errors &&
                  (createForm.controls['create_cam_sales_force'].dirty ||
                    createForm.controls['create_cam_sales_force'].touched))
              "
            >
              <span
                *ngIf="
                  createForm.controls['create_cam_sales_force'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>
        <div class="row m-b-10">
          <div class="col-4">
            <label for="create_cam_star_date" class="colorTitle">{{
              'campaign.labels.starDate.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="create_cam_star_date"
                [readonly]="true"
                formControlName="create_cam_star_date"
                name="create_cam_star_date"
                ngbDatepicker
                #d="ngbDatepicker"
                placeholder="dd-mm-aaaa"
                [placement]="'bottom'"
                [ngClass]="{
                  'has-error':
                    (hasError &&
                      createForm.controls['create_cam_star_date'].errors) ||
                    (createForm.controls['create_cam_star_date'].errors &&
                      (createForm.controls['create_cam_star_date'].dirty ||
                        createForm.controls['create_cam_star_date'].touched))
                }"
              />
              <div class="input-group-append">
                <button
                  (click)="d.toggle()"
                  class="btn btn-outline-secondary calendar fa fa-calendar"
                  type="button"
                ></button>
              </div>
            </div>
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  createForm.controls['create_cam_star_date'].errors) ||
                (createForm.controls['create_cam_star_date'].errors &&
                  (createForm.controls['create_cam_star_date'].dirty ||
                    createForm.controls['create_cam_star_date'].touched))
              "
            >
              <span
                *ngIf="
                  createForm.controls['create_cam_star_date'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>
        <div class="row m-b-10">
          <div class="col-4">
            <label for="create_cam_end_date" class="colorTitle">{{
              'campaign.labels.endDate.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="create_cam_end_date"
                [readonly]="true"
                formControlName="create_cam_end_date"
                name="create_cam_end_date"
                ngbDatepicker
                #d1="ngbDatepicker"
                placeholder="dd-mm-aaaa"
                [placement]="'bottom'"
                [ngClass]="{
                  'has-error':
                    (hasError &&
                      createForm.controls['create_cam_end_date'].errors) ||
                    (createForm.controls['create_cam_end_date'].errors &&
                      (createForm.controls['create_cam_end_date'].dirty ||
                        createForm.controls['create_cam_end_date'].touched))
                }"
              />
              <div class="input-group-append">
                <button
                  (click)="d1.toggle()"
                  class="btn btn-outline-secondary calendar fa fa-calendar"
                  type="button"
                ></button>
              </div>
            </div>
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  createForm.controls['create_cam_end_date'].errors) ||
                (createForm.controls['create_cam_end_date'].errors &&
                  (createForm.controls['create_cam_end_date'].dirty ||
                    createForm.controls['create_cam_end_date'].touched))
              "
            >
              <span
                *ngIf="
                  createForm.controls['create_cam_end_date'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
              <span
                *ngIf="createForm.controls['create_cam_end_date'].errors.dateF"
                >{{ 'campaign.messageEndDate' | translate }}</span
              >
            </div>
          </div>
        </div>
        <div class="row m-b-10">
          <div class="col-4">
            <label for="create_cam_closing_date" class="colorTitle">{{
              'campaign.labels.closingDate.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="create_cam_closing_date"
                [readonly]="true"
                formControlName="create_cam_closing_date"
                name="create_cam_closing_date"
                ngbDatepicker
                #d2="ngbDatepicker"
                placeholder="dd-mm-aaaa"
                [placement]="'bottom'"
                [ngClass]="{
                  'has-error':
                    (hasError &&
                      createForm.controls['create_cam_closing_date'].errors) ||
                    (createForm.controls['create_cam_closing_date'].errors &&
                      (createForm.controls['create_cam_closing_date'].dirty ||
                        createForm.controls['create_cam_closing_date'].touched))
                }"
              />
              <div class="input-group-append">
                <button
                  (click)="d2.toggle()"
                  class="btn btn-outline-secondary calendar fa fa-calendar"
                  type="button"
                ></button>
              </div>
            </div>
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  createForm.controls['create_cam_closing_date'].errors) ||
                (createForm.controls['create_cam_closing_date'].errors &&
                  (createForm.controls['create_cam_closing_date'].dirty ||
                    createForm.controls['create_cam_closing_date'].touched))
              "
            >
              <span
                *ngIf="
                  createForm.controls['create_cam_closing_date'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
              <span
                *ngIf="
                  createForm.controls['create_cam_closing_date'].errors.dateF
                "
                >{{ 'campaign.messageclosingDate' | translate }}</span
              >
            </div>
          </div>
        </div>
        <div class="row m-b-10">
          <div class="col-4">
            <label for="create_cam_status" class="colorTitle">{{
              'campaign.labels.campaignState' | translate
            }}</label>
          </div>
          <div class="col-8">
            <select
              class="form-control custom-select"
              id="create_cam_status"
              name="create_cam_status"
              formControlName="create_cam_status"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    createForm.controls['create_cam_status'].errors) ||
                  (createForm.controls['create_cam_status'].errors &&
                    (createForm.controls['create_cam_status'].dirty ||
                      createForm.controls['create_cam_status'].touched))
              }"
            >
              <option selected [value]="undefined">
                {{ 'campaign.dropState.selectOne' | translate }}
              </option>
              <option value="V">
                {{ 'campaign.dropState.valid' | translate }}
              </option>
              <option value="N">
                {{ 'campaign.dropState.inValid' | translate }}
              </option>
            </select>
            <div
              class="has-error"
              *ngIf="
                (hasError && createForm.controls['create_cam_status'].errors) ||
                (createForm.controls['create_cam_status'].errors &&
                  (createForm.controls['create_cam_status'].dirty ||
                    createForm.controls['create_cam_status'].touched))
              "
            >
              <span
                *ngIf="createForm.controls['create_cam_status'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-container>
</id-modal>

<id-modal
  #editModal
  [windowClass]="''"
  [showButtons]="true"
  size="lg"
  [closeModalInAcceptEvent]="false"
  [acceptMessage]="editModalAceptText"
  [closeMessage]="editModalCloseText"
  title="{{ editModalTitle }}"
  (accept)="confirmEdit()"
  (close)="closeEdit()"
>
  <ng-container modal-body>
    <div>
      <form
        [formGroup]="editForm"
        class="form-group m-t-30"
        autocomplete="off"
        novalidate
      >
        <div class="row m-b-10">
          <div class="col-4">
            <label for="edit_cam_name" class="colorTitle">{{
              'campaign.labels.campaignName.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <input
              type="text"
              id="pro_name"
              name="edit_cam_name"
              formControlName="edit_cam_name"
              placeholder="{{
                'campaign.labels.campaignName.placeHolder' | translate
              }}"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError && editForm.controls['edit_cam_name'].errors) ||
                  (editForm.controls['edit_cam_name'].errors &&
                    (editForm.controls['edit_cam_name'].dirty ||
                      editForm.controls['edit_cam_name'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_cam_name'].errors) ||
                (editForm.controls['edit_cam_name'].errors &&
                  (editForm.controls['edit_cam_name'].dirty ||
                    editForm.controls['edit_cam_name'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_cam_name'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>

        <div class="row m-b-10">
          <div class="col-4">
            <label for="edit_cam_code" class="colorTitle">{{
              'campaign.labels.code.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <input
              name=""
              id="edit_cam_code"
              formControlName="edit_cam_code"
              placeholder="{{ 'campaign.labels.code.placeHolder' | translate }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError && editForm.controls['edit_cam_code'].errors) ||
                  (editForm.controls['edit_cam_code'].errors &&
                    (editForm.controls['edit_cam_code'].dirty ||
                      editForm.controls['edit_cam_code'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_cam_code'].errors) ||
                (editForm.controls['edit_cam_code'].errors &&
                  (editForm.controls['edit_cam_code'].dirty ||
                    editForm.controls['edit_cam_code'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_cam_code'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>
        <div class="row m-b-10">
          <div class="col-4">
            <label for="edit_cam_code_entity" class="colorTitle">{{
              'campaign.labels.codeEntity.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <select
              class="form-control custom-select"
              id="edit_cam_code_entity"
              name="edit_cam_code_entity"
              formControlName="edit_cam_code_entity"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    editForm.controls['edit_cam_code_entity'].errors) ||
                  (editForm.controls['edit_cam_code_entity'].errors &&
                    (editForm.controls['edit_cam_code_entity'].dirty ||
                      editForm.controls['edit_cam_code_entity'].touched))
              }"
            >
              <option [value]="undefined" selected>
                {{ 'general.forms.select.placeHolder.select' | translate }}
              </option>
              <option *ngFor="let list of listCompany" [ngValue]="list.comID">
                {{ list.com_name }}
              </option>
            </select>
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  editForm.controls['edit_cam_code_entity'].errors) ||
                (editForm.controls['edit_cam_code_entity'].errors &&
                  (editForm.controls['edit_cam_code_entity'].dirty ||
                    editForm.controls['edit_cam_code_entity'].touched))
              "
            >
              <span
                *ngIf="
                  editForm.controls['edit_cam_code_entity'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>

        <div class="row m-b-10">
          <div class="col-4">
            <label for="edit_cam_sales_force" class="colorTitle">{{
              'campaign.labels.salesForce.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <input
              name="edit_cam_sales_force"
              id="edit_cam_sales_force"
              formControlName="edit_cam_sales_force"
              placeholder="{{
                'campaign.labels.salesForce.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    editForm.controls['edit_cam_sales_force'].errors) ||
                  (editForm.controls['edit_cam_sales_force'].errors &&
                    (editForm.controls['edit_cam_sales_force'].dirty ||
                      editForm.controls['edit_cam_sales_force'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  editForm.controls['edit_cam_sales_force'].errors) ||
                (editForm.controls['edit_cam_sales_force'].errors &&
                  (editForm.controls['edit_cam_sales_force'].dirty ||
                    editForm.controls['edit_cam_sales_force'].touched))
              "
            >
              <span
                *ngIf="
                  editForm.controls['edit_cam_sales_force'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>
        <div class="row m-b-10">
          <div class="col-4">
            <label for="edit_cam_star_date" class="colorTitle">{{
              'campaign.labels.starDate.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="edit_cam_star_date"
                [readonly]="true"
                formControlName="edit_cam_star_date"
                name="edit_cam_star_date"
                ngbDatepicker
                #d3="ngbDatepicker"
                placeholder="dd-mm-aaaa"
                [placement]="'bottom'"
                [ngClass]="{
                  'has-error':
                    (hasError &&
                      editForm.controls['edit_cam_star_date'].errors) ||
                    (editForm.controls['edit_cam_star_date'].errors &&
                      (editForm.controls['edit_cam_star_date'].dirty ||
                        editForm.controls['edit_cam_star_date'].touched))
                }"
              />
              <div class="input-group-append">
                <button
                  (click)="d3.toggle()"
                  class="btn btn-outline-secondary calendar fa fa-calendar"
                  type="button"
                ></button>
              </div>
            </div>
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_cam_star_date'].errors) ||
                (editForm.controls['edit_cam_star_date'].errors &&
                  (editForm.controls['edit_cam_star_date'].dirty ||
                    editForm.controls['edit_cam_star_date'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_cam_star_date'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>
        <div class="row m-b-10">
          <div class="col-4">
            <label for="edit_cam_end_date" class="colorTitle">{{
              'campaign.labels.endDate.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="edit_cam_end_date"
                [readonly]="true"
                formControlName="edit_cam_end_date"
                name="edit_cam_end_date"
                ngbDatepicker
                #d4="ngbDatepicker"
                placeholder="dd-mm-aaaa"
                [placement]="'bottom'"
                [ngClass]="{
                  'has-error':
                    (hasError &&
                      editForm.controls['edit_cam_end_date'].errors) ||
                    (editForm.controls['edit_cam_end_date'].errors &&
                      (editForm.controls['edit_cam_end_date'].dirty ||
                        editForm.controls['edit_cam_end_date'].touched))
                }"
              />
              <div class="input-group-append">
                <button
                  (click)="d4.toggle()"
                  class="btn btn-outline-secondary calendar fa fa-calendar"
                  type="button"
                ></button>
              </div>
            </div>
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_cam_end_date'].errors) ||
                (editForm.controls['edit_cam_end_date'].errors &&
                  (editForm.controls['edit_cam_end_date'].dirty ||
                    editForm.controls['edit_cam_end_date'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_cam_end_date'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
              <span
                *ngIf="editForm.controls['edit_cam_star_date'].errors.dateF"
                >{{ 'campaign.messageEndDate' | translate }}</span
              >
            </div>
          </div>
        </div>
        <div class="row m-b-10">
          <div class="col-4">
            <label for="edit_cam_closing_date" class="colorTitle">{{
              'campaign.labels.closingDate.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="edit_cam_closing_date"
                [readonly]="true"
                formControlName="edit_cam_closing_date"
                name="edit_cam_closing_date"
                ngbDatepicker
                #d5="ngbDatepicker"
                placeholder="dd-mm-aaaa"
                [placement]="'bottom'"
                [ngClass]="{
                  'has-error':
                    (hasError &&
                      editForm.controls['edit_cam_closing_date'].errors) ||
                    (editForm.controls['edit_cam_closing_date'].errors &&
                      (editForm.controls['edit_cam_closing_date'].dirty ||
                        editForm.controls['edit_cam_closing_date'].touched))
                }"
              />
              <div class="input-group-append">
                <button
                  (click)="d5.toggle()"
                  class="btn btn-outline-secondary calendar fa fa-calendar"
                  type="button"
                ></button>
              </div>
            </div>
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  editForm.controls['edit_cam_closing_date'].errors) ||
                (editForm.controls['edit_cam_closing_date'].errors &&
                  (editForm.controls['edit_cam_closing_date'].dirty ||
                    editForm.controls['edit_cam_closing_date'].touched))
              "
            >
              <span
                *ngIf="
                  editForm.controls['edit_cam_closing_date'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
              <span
                *ngIf="editForm.controls['edit_cam_closing_date'].errors.dateF"
                >{{ 'campaign.messageclosingDate' | translate }}</span
              >
            </div>
          </div>
        </div>
        <div class="row m-b-10">
          <div class="col-4">
            <label for="edit_cam_status" class="colorTitle">{{
              'campaign.labels.campaignState' | translate
            }}</label>
          </div>
          <div class="col-8">
            <select
              class="form-control custom-select"
              id="edit_cam_status"
              name="edit_cam_status"
              formControlName="edit_cam_status"
              [ngClass]="{
                'has-error':
                  (hasError && editForm.controls['edit_cam_status'].errors) ||
                  (editForm.controls['edit_cam_status'].errors &&
                    (editForm.controls['edit_cam_status'].dirty ||
                      editForm.controls['edit_cam_status'].touched))
              }"
            >
              <option selected [value]="undefined">
                {{ 'campaign.dropState.selectOne' | translate }}
              </option>
              <option value="V">
                {{ 'campaign.dropState.valid' | translate }}
              </option>
              <option value="N">
                {{ 'campaign.dropState.inValid' | translate }}
              </option>
            </select>
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_cam_status'].errors) ||
                (editForm.controls['edit_cam_status'].errors &&
                  (editForm.controls['edit_cam_status'].dirty ||
                    editForm.controls['edit_cam_status'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_cam_status'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>
      </form>
      <div class="row m-b-10">
        <div
          id="datatable-responsive_wrapper"
          class="dataTables_wrapper form-inline table table-responsive"
          style="
            width: 100%;
            overflow-x: hidden;
            height: 300px;
            overflow-y: auto;
          "
        >
          <table
            style="-webkit-margin-top-collapse: discard"
            id="datatable-responsive"
            class="table table-striped table-bordered no-wrap dataTable dtr-inline"
            width="100%"
            role="grid"
            aria-describedby="datatable-responsive_info"
          >
            <thead>
              <tr role="row">
                <th scope="row" style="width: 80px">
                  <label class="checkbox-inline"
                    ><input
                      type="checkbox"
                      name="selectedAllActions"
                      [(ngModel)]="selectedAllActions"
                      (change)="selectAllActions()"
                    /><label style="padding-left: 5px"
                      ><strong>{{
                        'campaign.labels.toAssign' | translate
                      }}</strong></label
                    ></label
                  >
                </th>
                <th scope="row" style="width: 107px">
                  {{ 'campaign.labels.selectActiosn.option' | translate }}
                </th>
                <th scope="row" style="width: 107px">
                  {{ 'campaign.labels.selectActiosn.required' | translate }}
                </th>
                <th scope="row" style="width: 107px">
                  {{ 'campaign.labels.selectActiosn.show' | translate }}
                </th>
                <!-- <th style="width:107px">{{'campaign.labels.selectActiosn.status' | translate}}</th> -->
              </tr>
            </thead>

            <tbody>
              <tr class="odd" *ngFor="let item of fieldList; let index = index">
                <td style="text-align: -webkit-center">
                  <label class="checkbox-inline">
                    <!-- <input type="checkbox" checked [value]="item.asignField"> -->
                    <input
                      type="checkbox"
                      trueFalseValue
                      trueValue="V"
                      falseValue="N"
                      [checked]="item.cfie_status == 'V'"
                      [(ngModel)]="item.cfie_status"
                    />
                  </label>
                </td>
                <td>
                  {{ item.fie_description }}
                </td>
                <td>
                  <div class="col-1">
                    <input
                      type="checkbox"
                      [checked]="item.cfie_required"
                      [(ngModel)]="item.cfie_required"
                    />
                  </div>
                </td>
                <td>
                  <input
                    type="checkbox"
                    [checked]="item.cfie_show_optional"
                    [(ngModel)]="item.cfie_show_optional"
                  />
                </td>
                <!-- <td>

                                    <div class="col-1">
                                        <select class="form-control custom-select" [(ngModel)]="item.cfie_status">
                                            <option selected [value]="undefined">{{'campaign.form.selectOne' | translate}}
                                            </option>
                                            <option value="V">{{'campaign.dropState.valid' | translate}}</option>
                                            <option value="N">{{'campaign.dropState.inValid' | translate}}</option>
                                        </select>
                                        <div class="has-error" *ngIf="(hasError && editForm.controls['edit_cam_status'].errors) || (editForm.controls['edit_cam_status'].errors && (editForm.controls['edit_cam_status'].dirty || editForm.controls['edit_cam_status'].touched))">
                                            <span *ngIf="editForm.controls['edit_cam_status'].errors.required">{{'general.requiredField'| translate}}</span>
                                        </div>
                                    </div>

                                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</id-modal>

<id-modal
  #deleteModal
  [showButtons]="true"
  size="sm"
  title="{{ this.events.eventAlertModal.title }}"
  acceptMessage="general.delete"
  closeMessage="general.buttons.cancel"
  (accept)="deleteItem()"
>
  <ng-container modal-header>{{ events.eventAlertModal.title }}</ng-container>
  <ng-container modal-body>
    {{ events.eventAlertModal.message }}
  </ng-container>
</id-modal>
