<component-messages #messages></component-messages>
<div class="card">
    <div class="card-header">
        <div style="text-align: start;">
            <label style="margin-left: 20%;">Catalogo</label>&nbsp;
            <select #tbl name="tbl" [(ngModel)]="tableName" class="form-control" style="margin-left: 1%; width: 30%;"
                (change)="changeTableName()">
                <option value="tb">Seleccione Uno</option>
                <option *ngFor="let tb of listTablesName" value="{{tb.VALUE}}">{{tb.NAME}}</option>
            </select>&nbsp;
            <button class="btn btn-circle btn-sm btn-primary-credi" style="margin-left: 20%;" data-toggle="tooltip"
                data-placement="left" title="Nuevo" (click)="openModal()" [disabled]="!newCatalogs">
                <i aria-hidden="true" class="ti-plus text font-weight-bold"></i>
            </button>&nbsp;
            <button class="btn btn-circle btn-sm btn-primary-credi" data-toggle="tooltip" data-placement="left"
                title="Limpiar" (click)="cleanTable()" [disabled]="!newCatalogs">
                <i aria-hidden="true" class="ti-brush-alt text font-weight-bold"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table table-responsive smart-table" *ngIf="totalRecords > 0" style="margin-left: 1%;">
            <label style="margin-left: 1%;">{{labelSearch}}</label>&nbsp;
            <input #search class="search" type="text" placeholder="Buscar..." (keyup)="getCatalogsByValue(search.value)"
                class="form-control" style="margin-left: 1%; width: 30%;">
            <hr style="margin-left: 1%; margin-right: 1%;">
            <smart-table #smartTable [settings]="settings" [rowCount]="totalRecords" [source]="listcatalogs"
                (edit)="catalogsSelected($event)" (editConfirm)="saveCatalogs()" [labelNoRecords]="'general.noRecords'">
            </smart-table>
        </div>
        <div class="table table-responsive smart-table" *ngIf="totalRecordsESP > 0" style="margin-left: 1%;">
            <label style="margin-left: 1%;">{{labelSearch}}</label>&nbsp;
            <input #search class="search" type="text" placeholder="Buscar..." (keyup)="getCatalogsByValue(search.value)"
                class="form-control" style="margin-left: 1%; width: 30%;">
            <hr style="margin-left: 1%; margin-right: 1%;">
            <smart-table #smartTable [settings]="settings" [rowCount]="totalRecordsESP" [source]="listcatalogsESP"
                (edit)="catalogsSelected($event)" (editConfirm)="saveCatalogs()" [labelNoRecords]="'general.noRecords'">
            </smart-table>
        </div>
    </div>
</div>
<id-modal #createModal [showButtons]="true" size="md" [closeModalInAcceptEvent]="false" [acceptMessage]="ModalAceptText"
    [closeMessage]="ModalCloseText" title="{{ ModalTitle }}" (accept)="saveCatalogs()" (close)="closeModal()">
    <ng-container modal-body>
        <div class="col-12" *ngIf="dinamyForm">
            <!--<form [formGroup]="catalogsForm">
                <div class="row form-group" *ngIf="allcatalogs">
                    <div class="col-6">
                        <label for="">Codigo</label>
                        <input type="text" name="co" id="co" class="form-control" formControlName="Code" required />
                    </div>
                    <div class="col-6">
                        <label for="">Descripción</label>
                        <input type="text" name="dc" id="dc" class="form-control" formControlName="Value" required />
                    </div>
                </div>
                <div class="row form-group" >
                    <div class="col-6" *ngIf="tableName === 'Tbl_CitySIIF' || tableName === 'Tbl_CountrySIIF' || tableName === 'Tbl_CurrencyOperationTypes' || tableName === 'Tbl_DepartamentSIIF'">
                        <label for="">Descripcion</label>
                        <input type="text" name="co" id="co" class="form-control" formControlName="Description" required />
                    </div>
                    <div class="col-6" *ngIf="tableName === 'Tbl_Department' || tableName === 'Tbl_CitySIIF'">
                        <label for="">Codigo Dane</label>
                        <input type="text" name="dc" id="dc" class="form-control" formControlName="DaneCode" required />
                    </div>
                </div>
                <div class="row form-group" *ngIf="tableName === 'Tbl_Currency'">
                    <div class="col-6">
                        <label for="">Nombre</label>
                        <input type="text" name="co" id="co" class="form-control" formControlName="Name" required />
                    </div>
                    <div class="col-6" >
                        <label for="">Descripción</label>
                        <input type="text" name="dc" id="dc" class="form-control" formControlName="ShortDescription" required />
                    </div>
                </div>
                <div class="row form-group" *ngIf="tableName === 'Tbl_DatoCatalogo'">
                    <div class="col-6">
                        <label for="">Detalle</label>
                        <input type="text" name="co" id="co" class="form-control" formControlName="Detalle" required />
                    </div>
                    <div class="col-6">
                        <label for="">Tabla Bizagi</label>
                        <input type="text" name="dc" id="dc" class="form-control" formControlName="TablaBizagi" required />
                    </div>
                </div>
                <div class="row form-group" *ngIf="tableName === 'Tbl_Department'">
                    <div class="col-6">
                        <label for="">Departamento</label>
                        <input type="text" name="co" id="co" class="form-control" formControlName="Department" required />
                    </div>
                    <div class="col-6">
                        <label for="">Codigo Departamento</label>
                        <input type="text" name="co" id="co" class="form-control" formControlName="CodeDepartment" required />
                    </div>
                </div>
                <div class="row form-group" >
                    <div class="col-6" *ngIf="tableName === 'Tbl_CitySIIF'">
                        <label for="">Departamento ID</label>
                        <select name="co" id="co" class="form-control" formControlName="DepartamentId" required >
                            <option value="N">Seleccione Uno</option>
                            <option *ngFor="let Di of listDepartment" value="{{Di.ID}}">{{Di.Department}}</option>
                        </select>
                    </div>
                    <div class="col-6" *ngIf="tableName === 'Tbl_DepartamentSIIF'">
                        <label for="">Pais ID</label>
                        <select name="co" id="co" class="form-control" formControlName="CountryId" required >
                            <option value="N">Seleccione Uno</option>
                            <option *ngFor="let Di of listDepartment" value="{{Di.CountryId}}">{{Di.Description}}</option>
                        </select>
                    </div>
                </div>
            </form>-->

            <form [formGroup]="catalogsForm">
                <div  *ngFor="let control of controls" class="col-12">
                    <div class="row form-group">
                        <div class="col-12">
                            <app-controls [catalogs]="control" [form]="catalogsForm"></app-controls> 
                        </div>
                        
                    </div>
                    
                </div>
            </form>

        </div>
    </ng-container>
</id-modal>