<div class="login-register">
    <div class="login-box">
      <component-messages #messages></component-messages>
      <div class="card login-box-shadow">
        <div class="card-header rounded-top">
          <!-- <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo comfandi-img" /> -->
          <h1 class="text-themecolor font-weight-bold text-center mt-1">
            {{'token.validation.label' | translate}}</h1>
        </div>
        <div class="card-body rounded-bottom" style="padding-bottom: 0">
          <form class="form-horizontal form-material" id="tokenForm" [formGroup]="tokenForm">
            <!-- <h1 class="box-title box-title-comfandi font-weight-bold font-italic m-b-20 text-center">Portal Empresas</h1> -->
            
  
            <div class="form-group ">
              <label for="">{{'token.validation.label'|translate}}</label>
              <div class="col-xs-12">
                <input class="form-control" type="text" required=""
                  placeholder="{{'token.validation.label'|translate}}"
                  id="token" formControlName="token" name="token"
                  [ngClass]="{'has-error': (hasError && tokenForm.controls['token'].errors) || (tokenForm.controls['token'].errors && (tokenForm.controls['token'].dirty || tokenForm.controls['token'].touched))}">
                <div class="has-error"
                  *ngIf="(hasError && tokenForm.controls['token'].errors) || (tokenForm.controls['token'].errors && (tokenForm.controls['token'].dirty || tokenForm.controls['token'].touched))">
                  <span
                    *ngIf="tokenForm.controls['token'].errors.required">{{'general.validations.requiredField'| translate}}</span>
                  <span
                    *ngIf="tokenForm.controls['token'].errors.minlength">{{'general.validations.minlength'| translate}}
                    {{tokenForm.controls['token'].errors.minlength.requiredLength}}</span>
                </div>
              </div>
            </div>            
            <div class="col-xs-12">
              <button type="button" class="btn btn-credi btn-block text-uppercase text-white"
                (click)="validateToken()">{{'token.button.validation'|translate}}</button>
            </div>        
            
          </form>
        </div>
      </div>
    </div>