<div class="row containter container-column right">
  <div class="col-12">
    <div class="card">
      <div class="col-3">
        <button class="btn btn-primary-credi" (click)="AddParameter()">
          <i aria-hidden="true" class="ti-plus text font-weight-bold"></i>
          Agregar parametro
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="table table-responsive smart-table">
      <table class="table" aria-describedby="Tabla_Parametros">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Valor</th>
            <th scope="col">Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of parameters">
            <th scope="col">
              <button
                class="btn btn-circle btn-sm btn-primary-credi m-r-5"
                (click)="openEditParameterModal(item.Id, item.Value)"
              >
                <i
                  aria-hidden="true"
                  class="ti-pencil-alt text font-weight-bold"
                ></i>
              </button>
            </th>
            <th scope="row">{{ item.Id }}</th>
            <td>{{ item.Value }}</td>
            <td>{{ item.Description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<id-modal
  #editModal
  [showButtons]="true"
  size="md"
  [closeModalInAcceptEvent]="false"
  [acceptMessage]="editModalAceptText"
  [closeMessage]="editModalCloseText"
  title="{{ editModalTitle }}"
  (accept)="editParameter()"
  (close)="closeEdit()"
>
  <ng-container modal-body>
    <form [formGroup]="parametersForm">
      <div class="row">
        <div class="col-md-12">
          <label>Nombre</label>
          <input
            formControlName="id"
            class="form-control"
            [ngClass]="{ 'is-invalid': c.id.errors }"
          />
          <div *ngIf="c.id.errors" class="invalid-feedback">
            <div *ngIf="c.id.errors.required">Requerido</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Valor</label>
          <input
            formControlName="values"
            class="form-control"
            maxlength="50"
            [ngClass]="{ 'is-invalid': c.values.errors }"
          />
          <div *ngIf="c.values.errors" class="invalid-feedback">
            <div *ngIf="c.values.errors.required">Requerido</div>
            <div *ngIf="c.values.errors.maxlength">Máximo 30 caracteres</div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="create">
        <div class="col-md-12">
          <label>Descripcion</label>
          <input
            formControlName="desc"
            class="form-control"
            maxlength="50"
            [ngClass]="{ 'is-invalid': c.desc.errors }"
          />
          <div *ngIf="c.desc.errors" class="invalid-feedback">
            <div *ngIf="c.desc.errors.required">Requerido</div>
            <div *ngIf="c.desc.errors.maxlength">Máximo 30 caracteres</div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</id-modal>
