<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="resetKeyForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Tipo de documento</label>
                            <select formControlName="documentType" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && c.documentType.errors }">                                    
                                <option value="" disabled>Seleccione</option>  
                                <option *ngFor="let item of documentTypes" [value]="item.Code">{{item.Value}}</option>                                                                          
                            </select>
                            <div *ngIf="submitted && c.documentType.errors" class="invalid-feedback">                        
                                <div *ngIf="c.documentType.errors.required">Requerido</div> 
                                <div *ngIf="c.documentType.errors.minlength">Requerido</div>                                                    
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Número de documento</label>
                            <input formControlName="documentNumber" class="form-control" (keypress)="numbersOnly($event)"
                             placeholder="número de documento" maxlength="30"
                             [ngClass]="{ 'is-invalid': submitted && c.documentNumber.errors }">
                             <div *ngIf="submitted && c.documentNumber.errors" class="invalid-feedback">
                                <div *ngIf="c.documentNumber.errors.required">Requerido</div>
                                <div *ngIf="c.documentNumber.errors.minlength">Mínimo 7 caracteres</div>
                                <div *ngIf="c.documentNumber.errors.maxlength">Máximo 15 caracteres</div> 
                                <div *ngIf="c.documentNumber.errors.pattern">Campo con errores</div>                                 
                             </div>
                        </div>
                        <div class="col-md-4">
                            <label>Número de tarjeta</label>
                            <input formControlName="cardNumber" class="form-control" (keypress)="numbersOnly($event)"
                             placeholder="número de tarjeta" maxlength="30"
                             [ngClass]="{ 'is-invalid': submitted && c.cardNumber.errors }">
                             <div *ngIf="submitted && c.cardNumber.errors" class="invalid-feedback">
                                <div *ngIf="c.cardNumber.errors.required">Requerido</div>
                                <div *ngIf="c.cardNumber.errors.minlength">Mínimo 10 caracteres</div>
                                <div *ngIf="c.cardNumber.errors.maxlength">Máximo 19 caracteres</div> 
                                <div *ngIf="c.cardNumber.errors.pattern">Campo con errores</div>                                 
                             </div>
                        </div>
                    </div>
                    <div>
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <br>
                                <button class="btn btn-primary-credi btn-block">Enviar</button>
                            </div> 
                        </div>  
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
