<div class="login-register">
    <div class="login-box">
      <component-messages #messages></component-messages>
      <div class="card login-box-shadow">
        <div class="card-header rounded-top">
          <h1 class="text-themecolor font-weight-bold text-center mt-1">
            {{'administration.authentication.login.label' | translate}}</h1>
        </div>
        <div class="card-body rounded-bottom" style="padding-bottom: 0">
          <form class="form-horizontal form-material" id="resetForm" [formGroup]="resetForm">  
            <div class="form-group">
              <div class="col-xs-12">
                <p style="text-align: center; font-weight: bold;">¿Tienes problemas para iniciar sesión?</p>
                <p  style="text-align: center;">Ingresa tu correo electrónico y te enviaremos un enlace para recuperar el acceso a tu cuenta.</p>
                <input class="form-control" type="text" required=""
                  placeholder="{{'administration.authentication.forgot-password.placeHolder.email'|translate}}" id="usr_email"
                  formControlName="usr_email" name="usr_email"
                  (keyup.enter)="forgotPassword()"
                  [ngClass]="{'has-error': (hasError && resetForm.controls['usr_email'].errors) || (resetForm.controls['usr_email'].errors && (resetForm.controls['usr_email'].dirty || resetForm.controls['usr_email'].touched))}">
                <div class="has-error"
                  *ngIf="(hasError && resetForm.controls['usr_email'].errors) || (resetForm.controls['usr_email'].errors && (resetForm.controls['usr_email'].dirty || resetForm.controls['usr_email'].touched))">
                  <span
                    *ngIf="resetForm.controls['usr_email'].errors.required">{{'general.validations.requiredField'| translate}}</span>
                </div>
                <!-- <span
                    *ngIf="validUserAccount">{{'general.validations.requiredField'| translate}}</span> -->
              </div>
            </div>
  
            <div class="col-xs-12">
              <button type="button" class="btn btn-credi btn-block text-uppercase text-white"
                (click)="forgotPassword()">{{'administration.authentication.resetPassword.button.singIn'|translate}}</button>
            </div>
            <div class="col-xs-12 m-t-10">
            </div>
            <div class="col-xs-12">
              <button type="button" class="btn btn-credi btn-block text-uppercase text-white"
                (click)="backLogin()">{{'administration.authentication.resetPassword.button.backTologin'|translate}}</button>
            </div>
            <div class="col-xs-12 m-t-10">
            </div>
          </form>
        </div>
      </div>
    </div>