<div class="login-register">
  <div class="login-box">
    <component-messages #messages></component-messages>
    <div class="card login-box-shadow">
      <div class="card-header rounded-top">
        <h1 class="text-themecolor font-weight-bold text-center mt-1">
          {{ 'administration.authentication.login.label' | translate }}
        </h1>
      </div>
      <div class="card-body rounded-bottom" style="padding-bottom: 0">
        <form
          class="form-horizontal form-material"
          id="resetpasswordForm"
          [formGroup]="resetpasswordForm"
        >
          <p *ngIf="!isLogged" style="text-align: center; font-weight: bold">
            ¿Tienes problemas iniciando sesión?
          </p>
          <p *ngIf="!isLogged" style="text-align: center">
            Ingresa el código de seguridad enviado por correo electrónico.
          </p>
          <p *ngIf="isLogged" style="text-align: center; font-weight: bold">
            {{
              'administration.authentication.login.label.changePassword'
                | translate
            }}
          </p>
          <p *ngIf="isLogged" style="text-align: center">
            {{
              'administration.authentication.login.label.firstLogin' | translate
            }}
          </p>

          <div class="form-group">
            <div class="col-xs-12" *ngIf="!isLogged">
              <label for="">{{
                'administration.authentication.change-passwordForm.label.codigo'
                  | translate
              }}</label>
              <input
                class="form-control"
                type="text"
                required=""
                placeholder="{{
                  'administration.authentication.change-passwordForm.placeHolder.codigo'
                    | translate
                }}"
                id="usc_code"
                formControlName="usc_code"
                name="usc_code"
                (change)="codeVerification()"
                [ngClass]="{
                  'has-error':
                    (hasError &&
                      resetpasswordForm.controls['usc_code'].errors) ||
                    (resetpasswordForm.controls['usc_code'].errors &&
                      (resetpasswordForm.controls['usc_code'].dirty ||
                        resetpasswordForm.controls['usc_code'].touched))
                }"
              />
              <div
                class="has-error"
                *ngIf="
                  (hasError && resetpasswordForm.controls['usc_code'].errors) ||
                  (resetpasswordForm.controls['usc_code'].errors &&
                    (resetpasswordForm.controls['usc_code'].dirty ||
                      resetpasswordForm.controls['usc_code'].touched))
                "
              >
                <span
                  *ngIf="resetpasswordForm.controls['usc_code'].errors.required"
                  >{{ 'general.validations.requiredField' | translate }}</span
                >
              </div>
            </div>
            <div class="col-xs-12" *ngIf="isLogged">
              <label for="">{{
                'administration.authentication.change-passwordForm.placeHolder.oldPassword'
                  | translate
              }}</label>
              <input
                class="form-control"
                type="password"
                required=""
                placeholder="{{
                  'administration.authentication.change-passwordForm.placeHolder.oldPassword'
                    | translate
                }}"
                id="usr_OldPassword"
                formControlName="usr_OldPassword"
                name="usr_OldPassword"
                [ngClass]="{
                  'has-error':
                    (hasError &&
                      resetpasswordForm.controls['usr_OldPassword'].errors) ||
                    (resetpasswordForm.controls['usr_OldPassword'].errors &&
                      (resetpasswordForm.controls['usr_OldPassword'].dirty ||
                        resetpasswordForm.controls['usr_OldPassword'].touched))
                }"
              />
              <div
                class="has-error"
                *ngIf="
                  (hasError &&
                    resetpasswordForm.controls['usr_OldPassword'].errors) ||
                  (resetpasswordForm.controls['usr_OldPassword'].errors &&
                    (resetpasswordForm.controls['usr_OldPassword'].dirty ||
                      resetpasswordForm.controls['usr_OldPassword'].touched))
                "
              >
                <span
                  *ngIf="
                    resetpasswordForm.controls['usr_OldPassword'].errors
                      .required
                  "
                  >{{ 'general.validations.requiredField' | translate }}</span
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <label for="">{{
                'administration.authentication.change-passwordForm.label.password1'
                  | translate
              }}</label>
              <input
                class="form-control"
                type="password"
                required=""
                placeholder="{{
                  'administration.authentication.change-passwordForm.placeHolder.password1'
                    | translate
                }}"
                id="usr_password1"
                formControlName="usr_password1"
                name="usr_password1"
                [ngClass]="{
                  'has-error':
                    (hasError &&
                      resetpasswordForm.controls['usr_password1'].errors) ||
                    (resetpasswordForm.controls['usr_password1'].errors &&
                      (resetpasswordForm.controls['usr_password1'].dirty ||
                        resetpasswordForm.controls['usr_password1'].touched))
                }"
                [class.is-invalid]="pass1NoValido"
              />
              <div
                class="has-error"
                *ngIf="
                  (hasError &&
                    resetpasswordForm.controls['usr_password1'].errors) ||
                  (resetpasswordForm.controls['usr_password1'].errors &&
                    (resetpasswordForm.controls['usr_password1'].dirty ||
                      resetpasswordForm.controls['usr_password1'].touched))
                "
              >
                <span
                  *ngIf="
                    resetpasswordForm.controls['usr_password1'].errors.required
                  "
                  >{{ 'general.validations.requiredField' | translate }}</span
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <label for="">{{
                'administration.authentication.change-passwordForm.label.password2'
                  | translate
              }}</label>
              <input
                class="form-control"
                type="password"
                required=""
                placeholder="{{
                  'administration.authentication.change-passwordForm.placeHolder.password2'
                    | translate
                }}"
                id="usr_password2"
                formControlName="usr_password2"
                name="usr_password2"
                [ngClass]="{
                  'has-error':
                    (hasError &&
                      resetpasswordForm.controls['usr_password2'].errors) ||
                    (resetpasswordForm.controls['usr_password2'].errors &&
                      (resetpasswordForm.controls['usr_password2'].dirty ||
                        resetpasswordForm.controls['usr_password2'].touched))
                }"
                [class.is-invalid]="pass2NoValido"
              />
              <div
                class="has-error"
                *ngIf="
                  (hasError &&
                    resetpasswordForm.controls['usr_password2'].errors) ||
                  (resetpasswordForm.controls['usr_password2'].errors &&
                    (resetpasswordForm.controls['usr_password2'].dirty ||
                      resetpasswordForm.controls['usr_password2'].touched))
                "
              >
                <span
                  *ngIf="
                    resetpasswordForm.controls['usr_password2'].errors.required
                  "
                  >{{ 'general.validations.requiredField' | translate }}</span
                >
              </div>
              <span *ngIf="pass2NoValido" class="form-text text-danger">
                {{
                  'administration.authentication.change-passwordForm.placeHolder.errorValidatePass'
                    | translate
                }}
              </span>
            </div>
          </div>

          <div class="col-xs-12">
            <button
              *ngIf="!isLogged"
              type="button"
              class="btn btn-credi btn-block text-uppercase text-white"
              (click)="onResetPassword()"
            >
              {{
                'administration.authentication.resetPassword.button.singIn'
                  | translate
              }}
            </button>
            <button
              *ngIf="isLogged"
              type="button"
              class="btn btn-credi btn-block text-uppercase text-white"
              (click)="onChangePassword()"
            >
              {{
                'administration.authentication.resetPassword.button.changePassword'
                  | translate
              }}
            </button>
            <button
              *ngIf="isLogged"
              type="button"
              class="btn btn-credi btn-block text-uppercase text-white"
              (click)="goToHome()"
            >
              {{
                'administration.authentication.resetPassword.button.changePasswordCancel'
                  | translate
              }}
            </button>
          </div>
          <div class="col-xs-12 m-t-10"></div>
        </form>
      </div>
    </div>
  </div>
</div>
