<div class="row">
    <div class="col-12">
        <component-messages #messages></component-messages>
        <div class="card">
            <div class="card-header">
                <div class="offset-10 card-header-button" style="text-align: end;">
                    <button class="btn btn-circle btn-sm btn-primary-credi m-r-5" (click)="downloadReport()">
              <i aria-hidden="true" class="ti-download text"></i>
            </button>
                    <button class="btn btn-circle btn-sm btn-primary-credi m-r-5" (click)="getEnrollmentsFilters()">
              <i aria-hidden="true" class="icon-magnifier text"></i>
            </button>
                </div>
            </div>
            <div class="card-body">

                <form class="form-group m-t-30" autocomplete="off" [formGroup]="filterForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="filterDocumentType" class="colorTitle">{{ 'offer.documentType.label' | translate }}</label>
                            <select class="form-control custom-select" id="filterDocumentType" name="filterDocumentType" formControlName="filterDocumentType">
                                <option selected [ngValue]=undefined>
                                    {{'offer.documentType.selectOne' | translate}}</option>
                                <option>
                                    {{'offer.documentType.type' | translate}}
                                </option>
                                </select>
                        </div>
                        <div class="col-6">
                            <label for="filterDocumentNumber" class="colorTitle">{{ 'offer.documentNumber.label' | translate }}</label>
                            <input type="text" numeric class="form-control" id="filterDocumentNumber" name="filterDocumentNumber" formControlName="filterDocumentNumber" placeholder="{{ 'offer.documentNumber.placeHolder' | translate }}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="filterStatus" class="colorTitle">{{ 'general.dropState.label' | translate }}</label>
                            <select class="form-control custom-select" id="filterStatus" name="filterStatus" formControlName="filterStatus">
                                <option selected [ngValue]=undefined>
                                    {{'general.dropState.selectOne' | translate}}</option>
                                <option selected value='V'>
                                    {{'offer.report.filter.status.valid' | translate}}</option>
                                <option selected value='N'>
                                    {{'offer.report.filter.status.notCurrent' | translate}}</option>
                            </select>
                        </div>
                        <!-- <div class="col-6">
                            <label for="filterdateStart" class="colorTitle">{{ 'offer.report.filter.dateReport' | translate }}</label>
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="filterdateStart" formControlName="filterdateStart" name="filterdateStart" ngbDatepicker #filterdateStart="ngbDatepicker" placeholder="{{'offer.report.filter.dateReport.start' | translate}}" [placement]="'bottom'"
                                            [readonly]="true">
                                        <div class="input-group-append">
                                            <button (click)="filterdateStart.toggle()" class="btn btn-outline-secondary calendar fa fa-calendar" type="button"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="filterdateEnd" formControlName="filterdateEnd" name="filterdateEnd" ngbDatepicker #filterdateEnd="ngbDatepicker" placeholder="{{'offer.report.filter.dateReport.end' | translate}}" [placement]="'bottom'" [readonly]="true">
                                        <div class="input-group-append">
                                            <button (click)="filterdateEnd.toggle()" class="btn btn-outline-secondary calendar fa fa-calendar" type="button"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                </form>
                <div class="table table-responsive smart-table">
                    <smart-table #smartTable [settings]="settings" [rowCount]="totalRecords" [labelNoRecords]="'general.noRecords'" [source]="offerList" (edit)="openModal($event)" (delete)="confirmDelete($event)" (sortColumn)="sortDataTable($event)"
                        (pageChange)="changePage($event)">
                    </smart-table>
                </div>
            </div>
        </div>
    </div>
</div>

<id-modal #showModal [windowClass]="''" [showButtons]=true size="lg" [closeModalInAcceptEvent]=false [acceptMessage]="showModalAceptText" [closeMessage]="showModalCloseText" title="{{showModalTitle}}">
    <ng-container modal-body>
        <form [formGroup]="editForm" class="form-group m-t-30" autocomplete="off" novalidate>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_first_name" class="colorTitle">{{ 'offer.labels.firstName.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <input type="text" id="edit_off_first_name" name="edit_off_first_name" formControlName="edit_off_first_name" placeholder="{{ 'offer.labels.firstName.placeHolder' | translate }}" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_first_name'].errors) || (editForm.controls['edit_off_first_name'].errors && (editForm.controls['edit_off_first_name'].dirty || editForm.controls['edit_off_first_name'].touched))}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_first_name'].errors) || (editForm.controls['edit_off_first_name'].errors && (editForm.controls['edit_off_first_name'].dirty || editForm.controls['edit_off_first_name'].touched))">
                        <span *ngIf="editForm.controls['edit_off_first_name'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_second_name" class="colorTitle">{{ 'offer.labels.secondName.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <input name="edit_off_second_name" id="edit_off_second_name" formControlName="edit_off_second_name" placeholder="{{ 'offer.labels.secondName.placeHolder' | translate }}" type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_second_name'].errors) || (editForm.controls['edit_off_second_name'].errors && (editForm.controls['edit_off_second_name'].dirty || editForm.controls['edit_off_second_name'].touched))}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_second_name'].errors) || (editForm.controls['edit_off_second_name'].errors && (editForm.controls['edit_off_second_name'].dirty || editForm.controls['edit_off_second_name'].touched))">
                        <span *ngIf="editForm.controls['edit_off_second_name'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_first_surname" class="colorTitle">{{ 'offer.labels.firstSurname.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <input name="edit_off_first_surname" id="edit_off_first_surname" formControlName="edit_off_first_surname" placeholder="{{ 'offer.labels.firstSurname.placeHolder' | translate }}" type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_first_surname'].errors) || (editForm.controls['edit_off_first_surname'].errors && (editForm.controls['edit_off_first_surname'].dirty || editForm.controls['edit_off_first_surname'].touched))}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_first_surname'].errors) || (editForm.controls['edit_off_first_surname'].errors && (editForm.controls['edit_off_first_surname'].dirty || editForm.controls['edit_off_first_surname'].touched))">
                        <span *ngIf="editForm.controls['edit_off_first_surname'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_second_surname" class="colorTitle">{{ 'offer.labels.secondSurname.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <input name="edit_off_second_surname" id="edit_off_second_surname" formControlName="edit_off_second_surname" placeholder="{{ 'offer.labels.secondSurname.placeHolder' | translate }}" type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_second_surname'].errors) || (editForm.controls['edit_off_second_surname'].errors && (editForm.controls['edit_off_second_surname'].dirty || editForm.controls['edit_off_second_surname'].touched))}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_second_surname'].errors) || (editForm.controls['edit_off_second_surname'].errors && (editForm.controls['edit_off_second_surname'].dirty || editForm.controls['edit_off_second_surname'].touched))">
                        <span *ngIf="editForm.controls['edit_off_second_surname'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_birthdate" class="colorTitle">{{ 'offer.labels.birthdate.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="edit_off_birthdate" [readonly]="true" formControlName="edit_off_birthdate" name="edit_off_birthdate" ngbDatepicker #d3="ngbDatepicker" placeholder="dd-mm-aaaa" [placement]="'bottom'" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_birthdate'].errors) || (editForm.controls['edit_off_birthdate'].errors && (editForm.controls['edit_off_birthdate'].dirty || editForm.controls['edit_off_birthdate'].touched))}">
                        <div class="input-group-append">
                            <button (click)="d3.toggle()" class="btn btn-outline-secondary calendar fa fa-calendar" type="button"></button>
                        </div>
                    </div>
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_birthdate'].errors) || (editForm.controls['edit_off_birthdate'].errors && (editForm.controls['edit_off_birthdate'].dirty || editForm.controls['edit_off_birthdate'].touched))">
                        <span *ngIf="editForm.controls['edit_off_birthdate'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_expedition_date" class="colorTitle">{{ 'offer.labels.expeditionDate.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="edit_off_expedition_date" [readonly]="true" formControlName="edit_off_expedition_date" name="edit_off_expedition_date" ngbDatepicker #d4="ngbDatepicker" placeholder="dd-mm-aaaa" [placement]="'bottom'"
                            [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_expedition_date'].errors) || (editForm.controls['edit_off_expedition_date'].errors && (editForm.controls['edit_off_expedition_date'].dirty || editForm.controls['edit_off_expedition_date'].touched))}">
                        <div class="input-group-append">
                            <button (click)="d4.toggle()" class="btn btn-outline-secondary calendar fa fa-calendar" type="button"></button>
                        </div>
                    </div>
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_expedition_date'].errors) || (editForm.controls['edit_off_expedition_date'].errors && (editForm.controls['edit_off_expedition_date'].dirty || editForm.controls['edit_off_expedition_date'].touched))">
                        <span *ngIf="editForm.controls['edit_off_expedition_date'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_birthplace" class="colorTitle">{{ 'offer.labels.birthplace.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <input name="edit_off_birthplace" id="edit_off_birthplace" formControlName="edit_off_birthplace" placeholder="{{ 'offer.labels.birthplace.placeHolder' | translate }}" type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_birthplace'].errors) || (editForm.controls['edit_off_birthplace'].errors && (editForm.controls['edit_off_birthplace'].dirty || editForm.controls['edit_off_birthplace'].touched))}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_birthplace'].errors) || (editForm.controls['edit_off_birthplace'].errors && (editForm.controls['edit_off_birthplace'].dirty || editForm.controls['edit_off_birthplace'].touched))">
                        <span *ngIf="editForm.controls['edit_off_birthplace'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_expedition_place" class="colorTitle">{{ 'offer.labels.expeditionPlace.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <input name="edit_off_expedition_place" id="edit_off_expedition_place" formControlName="edit_off_expedition_place" placeholder="{{ 'offer.labels.expeditionPlace.placeHolder' | translate }}" type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_expedition_place'].errors) || (editForm.controls['edit_off_expedition_place'].errors && (editForm.controls['edit_off_expedition_place'].dirty || editForm.controls['edit_off_expedition_place'].touched))}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_expedition_place'].errors) || (editForm.controls['edit_off_expedition_place'].errors && (editForm.controls['edit_off_expedition_place'].dirty || editForm.controls['edit_off_expedition_place'].touched))">
                        <span *ngIf="editForm.controls['edit_off_expedition_place'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off__affiliation_number" class="colorTitle">{{ 'offer.labels.affiliationNumber.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <input name="edit_off__affiliation_number" id="edit_off__affiliation_number" formControlName="edit_off__affiliation_number" placeholder="{{ 'offer.labels.affiliationNumber.placeHolder' | translate }}" type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off__affiliation_number'].errors) || (editForm.controls['edit_off__affiliation_number'].errors && (editForm.controls['edit_off__affiliation_number'].dirty || editForm.controls['edit_off__affiliation_number'].touched))}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off__affiliation_number'].errors) || (editForm.controls['edit_off__affiliation_number'].errors && (editForm.controls['edit_off__affiliation_number'].dirty || editForm.controls['edit_off__affiliation_number'].touched))">
                        <span *ngIf="editForm.controls['edit_off__affiliation_number'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_cellphone" class="colorTitle">{{ 'offer.labels.cellphone.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <input name="edit_off_cellphone" id="edit_off_cellphone" formControlName="edit_off_cellphone" placeholder="{{ 'offer.labels.cellphone.placeHolder' | translate }}" type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_cellphone'].errors) || (editForm.controls['edit_off_cellphone'].errors && (editForm.controls['edit_off_cellphone'].dirty || editForm.controls['edit_off_cellphone'].touched))}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_cellphone'].errors) || (editForm.controls['edit_off_cellphone'].errors && (editForm.controls['edit_off_cellphone'].dirty || editForm.controls['edit_off_cellphone'].touched))">
                        <span *ngIf="editForm.controls['edit_off_cellphone'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_email" class="colorTitle">{{ 'offer.labels.email.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <input name="edit_off_email" id="edit_off_email" formControlName="edit_off_email" placeholder="{{ 'offer.labels.email.placeHolder' | translate }}" type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_email'].errors) || (editForm.controls['edit_off_email'].errors && (editForm.controls['edit_off_email'].dirty || editForm.controls['edit_off_email'].touched))}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_email'].errors) || (editForm.controls['edit_off_email'].errors && (editForm.controls['edit_off_email'].dirty || editForm.controls['edit_off_email'].touched))">
                        <span *ngIf="editForm.controls['edit_off_email'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_profession" class="colorTitle">{{ 'offer.labels.profession.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <input name="edit_off_profession" id="edit_off_profession" formControlName="edit_off_profession" placeholder="{{ 'offer.labels.profession.placeHolder' | translate }}" type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_profession'].errors) || (editForm.controls['edit_off_profession'].errors && (editForm.controls['edit_off_profession'].dirty || editForm.controls['edit_off_profession'].touched))}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_profession'].errors) || (editForm.controls['edit_off_profession'].errors && (editForm.controls['edit_off_profession'].dirty || editForm.controls['edit_off_profession'].touched))">
                        <span *ngIf="editForm.controls['edit_off_profession'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_account_manager" class="colorTitle">{{ 'offer.labels.accountManager.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <input name="edit_off_account_manager" id="edit_off_account_manager" formControlName="edit_off_account_manager" placeholder="{{ 'offer.labels.accountManager.placeHolder' | translate }}" type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_account_manager'].errors) || (editForm.controls['edit_off_account_manager'].errors && (editForm.controls['edit_off_account_manager'].dirty || editForm.controls['edit_off_account_manager'].touched))}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_account_manager'].errors) || (editForm.controls['edit_off_account_manager'].errors && (editForm.controls['edit_off_account_manager'].dirty || editForm.controls['edit_off_account_manager'].touched))">
                        <span *ngIf="editForm.controls['edit_off_account_manager'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_collection_manager" class="colorTitle">{{ 'offer.labels.collectionManager.label' | translate }}</label>
                </div>
                <div class="col-8">
                    <input name="edit_off_collection_manager" id="edit_off_collection_manager" formControlName="edit_off_collection_manager" placeholder="{{ 'offer.labels.collectionManager.placeHolder' | translate }}" type="text" class="form-control" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_collection_manager'].errors) || (editForm.controls['edit_off_collection_manager'].errors && (editForm.controls['edit_off_collection_manager'].dirty || editForm.controls['edit_off_collection_manager'].touched))}">
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_collection_manager'].errors) || (editForm.controls['edit_off_collection_manager'].errors && (editForm.controls['edit_off_collection_manager'].dirty || editForm.controls['edit_off_collection_manager'].touched))">
                        <span *ngIf="editForm.controls['edit_off_collection_manager'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-4">
                    <label for="edit_off_stratum" class="colorTitle">{{ 'offer.labels.stratum' | translate }}</label>
                </div>
                <div class="col-8">
                    <select class="form-control custom-select" id="edit_off_stratum" name="edit_off_stratum" formControlName="edit_off_stratum" [ngClass]="{'has-error': (hasError && editForm.controls['edit_off_stratum'].errors) || (editForm.controls['edit_off_stratum'].errors && (editForm.controls['edit_off_stratum'].dirty || editForm.controls['edit_off_stratum'].touched))}">
                        <option selected [value]=undefined>{{'offer.dropStratum.selectOne' | translate}}</option>
                        <option value="1">{{'offer.dropStratum.one' | translate}}</option>
                        <option value="2">{{'offer.dropStratum.two' | translate}}</option>
                        <option value="3">{{'offer.dropStratum.three' | translate}}</option>
                        <option value="4">{{'offer.dropStratum.four' | translate}}</option>
                        <option value="5">{{'offer.dropStratum.five' | translate}}</option>
                        <option value="6">{{'offer.dropStratum.six' | translate}}</option>
                    </select>
                    <div class="has-error" *ngIf="(hasError && editForm.controls['edit_off_stratum'].errors) || (editForm.controls['edit_off_stratum'].errors && (editForm.controls['edit_off_stratum'].dirty || editForm.controls['edit_off_stratum'].touched))">
                        <span *ngIf="editForm.controls['edit_off_stratum'].errors.required">{{'general.requiredField'| translate}}</span>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
</id-modal>
<id-modal #deleteModal [showButtons]=true size="sm" title="{{this.events.eventAlertModal.title}}" acceptMessage="general.delete" closeMessage="general.buttons.cancel">
    <ng-container modal-header>{{events.eventAlertModal.title}}</ng-container>
    <ng-container modal-body>
        {{events.eventAlertModal.message}}
    </ng-container>
</id-modal>