<div class="row">
  <div class="col-12">
    <component-messages #messages></component-messages>
    <div class="card">
      <div class="card-header">
        <div class="offset-10 card-header-button" style="text-align: end">
          <!-- <button
            class="btn btn-circle btn-sm btn-primary-credi m-r-5"
            (click)="openCreatePermissionModal()"
          >
            <i aria-hidden="true" class="ti-plus text font-weight-bold"></i>
          </button> -->
          <!-- <button class="btn btn-circle btn-sm btn-primary-credi m-r-5" validate [actions]="[24]"
                        (click)="openCreatePermissionModal()">
                        <i aria-hidden="true" class="ti-plus text font-weight-bold"></i>
                    </button> -->
          <!-- <button class="btn btn-circle btn-sm btn-primary-credi m-r-5" validate [actions]="[23]"
                        (click)="getPermissionByFilter()">
                        <i aria-hidden="true" class="icon-magnifier text"></i>
                    </button> -->
          <button
            class="btn btn-circle btn-sm btn-primary-credi m-r-5"
            (click)="getPermissionByFilter()"
          >
            <i aria-hidden="true" class="icon-magnifier text"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form
          class="form-group m-t-30"
          autocomplete="off"
          [formGroup]="filterForm"
        >
          <div class="row">
            <div class="col-6">
              <label for="pm_name" class="colorTitle">{{
                'permission.labels.pm_name.label' | translate
              }}</label>
              <input
                type="text"
                formControlName="pm_name"
                class="form-control"
                id="filterpm_name"
                name="filterpm_name"
                (keyup)="getPermissionByFilter()"
                placeholder="{{
                  'permission.labels.pm_name.placeHolder' | translate
                }}"
              />
            </div>
            <div class="col-6">
              <label for="pm_code" class="colorTitle">{{
                'permission.labels.pm_code.label' | translate
              }}</label>
              <input
                type="text"
                formControlName="pm_code"
                class="form-control"
                id="filterpm_code"
                name="filterpm_code"
                (keyup)="getPermissionByFilter()"
                placeholder="{{
                  'permission.labels.pm_code.placeHolder' | translate
                }}"
              />
            </div>
          </div>
        </form>

        <div
          class="table table-responsive smart-table"
          *ngIf="totalRecords > 0"
        >
          <smart-table
            #smartTable
            [settings]="settings"
            [rowCount]="totalRecords"
            [labelNoRecords]="'general.noRecords'"
            [source]="listPermissionByFilter"
            (sortColumn)="sortDataTable($event)"
            (pageChange)="changePage($event)"
            (edit)="editPermission($event)"
            (editConfirm)="confirmEdit()"
          >
            <!-- (edit)="editProfile($event)" (editConfirm)="confirmEdit()" (delete)="confirmDelete($event)" -->
          </smart-table>
        </div>
      </div>
    </div>
  </div>
</div>

<id-modal
  #createModal
  [showButtons]="true"
  size="lg"
  [closeModalInAcceptEvent]="false"
  [acceptMessage]="createModalAceptText"
  [closeMessage]="createModalCloseText"
  title="{{ createModalTitle }}"
  (accept)="createPermission()"
  (close)="closeCreate()"
>
  <ng-container modal-body>
    <div class="col-12">
      <form
        [formGroup]="createForm"
        class="form-group m-t-30"
        autocomplete="off"
        novalidate
      >
        <div class="row m-b-10">
          <div class="col-4">
            <label for="create_pm_name" class="colorTitle">{{
              'permission.labels.pm_name.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <input
              name="create_pm_name"
              id="create_pm_name"
              formControlName="create_pm_name"
              placeholder="{{
                'permission.labels.pm_name.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError && createForm.controls['create_pm_name'].errors) ||
                  (createForm.controls['create_pm_name'].errors &&
                    (createForm.controls['create_pm_name'].dirty ||
                      createForm.controls['create_pm_name'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError && createForm.controls['create_pm_name'].errors) ||
                (createForm.controls['create_pm_name'].errors &&
                  (createForm.controls['create_pm_name'].dirty ||
                    createForm.controls['create_pm_name'].touched))
              "
            >
              <span
                *ngIf="createForm.controls['create_pm_name'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>

        <div class="row m-b-10">
          <div class="col-4">
            <label for="create_pm_description" class="colorTitle">{{
              'permission.labels.pm_description.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <input
              name="create_pm_description"
              id="create_pm_description"
              formControlName="create_pm_description"
              placeholder="{{
                'permission.labels.pm_description.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    createForm.controls['create_pm_description'].errors) ||
                  (createForm.controls['create_pm_description'].errors &&
                    (createForm.controls['create_pm_description'].dirty ||
                      createForm.controls['create_pm_description'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  createForm.controls['create_pm_description'].errors) ||
                (createForm.controls['create_pm_description'].errors &&
                  (createForm.controls['create_pm_description'].dirty ||
                    createForm.controls['create_pm_description'].touched))
              "
            >
              <span
                *ngIf="
                  createForm.controls['create_pm_description'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-container>
</id-modal>

<id-modal
  #editModal
  [windowClass]="''"
  [showButtons]="true"
  size="lg"
  [closeModalInAcceptEvent]="false"
  [acceptMessage]="editModalAceptText"
  [closeMessage]="editModalCloseText"
  title="{{ editModalTitle }}"
  (accept)="confirmEdit()"
  (close)="closeEdit()"
>
  <ng-container modal-body>
    <div class="col-12">
      <form
        [formGroup]="editForm"
        class="form-group m-t-30"
        autocomplete="off"
        novalidate
      >
        <div class="row m-b-10">
          <div class="col-4">
            <label for="edit_pm_code" class="colorTitle">{{
              'permission.labels.pm_code.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <input
              name="edit_pm_code"
              id="edit_pm_code"
              formControlName="edit_pm_code"
              placeholder="{{
                'permission.labels.pm_code.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError && editForm.controls['edit_pm_code'].errors) ||
                  (editForm.controls['edit_pm_code'].errors &&
                    (editForm.controls['edit_pm_code'].dirty ||
                      editForm.controls['edit_pm_code'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_pm_code'].errors) ||
                (editForm.controls['edit_pm_code'].errors &&
                  (editForm.controls['edit_pm_code'].dirty ||
                    editForm.controls['edit_pm_code'].touched))
              "
            >
              <span *ngIf="editForm.controls['edit_pm_code'].errors.required">{{
                'general.requiredField' | translate
              }}</span>
            </div>
          </div>
        </div>

        <div class="row m-b-10">
          <div class="col-4">
            <label for="edit_pm_name" class="colorTitle">{{
              'permission.labels.pm_name.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <input
              name="edit_pm_name"
              id="edit_pm_name"
              formControlName="edit_pm_name"
              placeholder="{{
                'permission.labels.pm_name.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError && editForm.controls['edit_pm_name'].errors) ||
                  (editForm.controls['edit_pm_name'].errors &&
                    (editForm.controls['edit_pm_name'].dirty ||
                      editForm.controls['edit_pm_name'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_pm_name'].errors) ||
                (editForm.controls['edit_pm_name'].errors &&
                  (editForm.controls['edit_pm_name'].dirty ||
                    editForm.controls['edit_pm_name'].touched))
              "
            >
              <span *ngIf="editForm.controls['edit_pm_name'].errors.required">{{
                'general.requiredField' | translate
              }}</span>
            </div>
          </div>
        </div>

        <div class="row m-b-10">
          <div class="col-4">
            <label for="edit_pm_description" class="colorTitle">{{
              'permission.labels.pm_description.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <input
              name="edit_pm_description"
              id="edit_pm_description"
              formControlName="edit_pm_description"
              placeholder="{{
                'permission.labels.pm_description.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    editForm.controls['edit_pm_description'].errors) ||
                  (editForm.controls['edit_pm_description'].errors &&
                    (editForm.controls['edit_pm_description'].dirty ||
                      editForm.controls['edit_pm_description'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_pm_description'].errors) ||
                (editForm.controls['edit_pm_description'].errors &&
                  (editForm.controls['edit_pm_description'].dirty ||
                    editForm.controls['edit_pm_description'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_pm_description'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>

        <div class="row m-b-10">
          <div class="col-4">
            <label for="edit_pm_status" class="colorTitle">{{
              'permission.labels.pm_status.label' | translate
            }}</label>
          </div>
          <div class="col-8">
            <select
              class="form-control custom-select"
              formControlName="edit_pm_status"
              id="edit_pm_status"
              name="edit_pm_status"
              [ngClass]="{
                'has-error':
                  (hasError && editForm.controls['edit_pm_status'].errors) ||
                  (editForm.controls['edit_pm_status'].errors &&
                    (editForm.controls['edit_pm_status'].dirty ||
                      editForm.controls['edit_pm_status'].touched))
              }"
            >
              <option selected [ngValue]="undefined">
                {{ 'permission.dropState.selectOne' | translate }}
              </option>
              <option [value]="'V'">
                {{ 'general.dropState.valid' | translate }}
              </option>
              <option [value]="'N'">
                {{ 'general.dropState.inValid' | translate }}
              </option>
            </select>
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_pm_status'].errors) ||
                (editForm.controls['edit_pm_status'].errors &&
                  (editForm.controls['edit_pm_status'].dirty ||
                    editForm.controls['edit_pm_status'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_pm_status'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-container>
</id-modal>
