<div class="row">
    <div class="col-12">
        <component-messages #messages></component-messages>
        <div class="card login-box-shadow">
            <div class="card-body rounded-bottom" style="padding-bottom: 0">
                <form class="form-horizontal form-material" id="OTPForm" [formGroup]="OTPForm">
                    <p style="text-align: justify; font-weight: bold;">Para realizar el envio del OTP es necesaria, la
                        siguiente información:</p>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="">Correo electrónico</label>
                            <br>
                            <input class="form-control" type="text" required=""
                                placeholder="{{'Correo electrónico'|translate}}" id="create_fotp_Email"
                                formControlName="create_fotp_Email" name="create_fotp_Email"
                                [ngClass]="{'has-error': (hasError && OTPForm.controls['create_fotp_Email'].errors) || (OTPForm.controls['create_fotp_Email'].errors && (OTPForm.controls['create_fotp_Email'].dirty || OTPForm.controls['create_fotp_Email'].touched))}">
                            <div class="has-error"
                                *ngIf="(hasError && OTPForm.controls['create_fotp_Email'].errors) || (OTPForm.controls['create_fotp_Email'].errors && (OTPForm.controls['create_fotp_Email'].dirty || OTPForm.controls['create_fotp_Email'].touched))">
                                <span
                                    *ngIf="OTPForm.controls['create_fotp_Email'].errors.required">{{'general.validations.requiredField'| translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="">Telefono Celular</label>
                            <br>
                            <input class="form-control" type="text" required=""
                                placeholder="{{'Telefono Celular'|translate}}" id="create_fotp_Cellphone"
                                formControlName="create_fotp_Cellphone" name="create_fotp_Cellphone"
                                [ngClass]="{'has-error': (hasError && OTPForm.controls['create_fotp_Cellphone'].errors) || (OTPForm.controls['create_fotp_Cellphone'].errors && (OTPForm.controls['create_fotp_Cellphone'].dirty || OTPForm.controls['create_fotp_Cellphone'].touched))}">
                            <div class="has-error"
                                *ngIf="(hasError && OTPForm.controls['create_fotp_Cellphone'].errors) || (OTPForm.controls['create_fotp_Cellphone'].errors && (OTPForm.controls['create_fotp_Cellphone'].dirty || OTPForm.controls['create_fotp_Cellphone'].touched))">
                                <span
                                    *ngIf="OTPForm.controls['create_fotp_Cellphone'].errors.required">{{'general.validations.requiredField'| translate}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="">Tipo de Identificación</label>
                            <br>
                            <select 
                                    class="form-control custom-select" 
                                    formControlName="create_fotp_IdentificationType"
                                    id="create_fotp_IdentificationType" 
                                    name="create_fotp_IdentificationType"
                                    [ngClass]="{'has-error': (hasError && OTPForm.controls['create_fotp_IdentificationType'].errors) || (OTPForm.controls['create_fotp_IdentificationType'].errors && (OTPForm.controls['create_fotp_IdentificationType'].dirty || OTPForm.controls['create_fotp_IdentificationType'].touched))}">
                                <option selected [ngValue]=undefined>Tipo de identificación</option>
                                <option [value]="'1'">Cedula de Ciudadania</option>
                                <option [value]="'2'">Cedula de extranjeria</option>
                            </select>
                            <div class="has-error"
                                *ngIf="(hasError && OTPForm.controls['create_fotp_IdentificationType'].errors) || (OTPForm.controls['create_fotp_IdentificationType'].errors && (OTPForm.controls['create_fotp_IdentificationType'].dirty || OTPForm.controls['create_fotp_IdentificationType'].touched))">
                                <span
                                    *ngIf="OTPForm.controls['create_fotp_IdentificationType'].errors.required">{{'general.validations.requiredField'| translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="">Número de Identificación</label>
                            <br>
                            <input class="form-control" type="text" required=""
                                placeholder="{{'Número de identificación'|translate}}" id="create_ftop_Identification"
                                formControlName="create_ftop_Identification" name="create_ftop_Identification"
                                maxlength="12"
                                [ngClass]="{'has-error': (hasError && OTPForm.controls['create_ftop_Identification'].errors) || (OTPForm.controls['create_ftop_Identification'].errors && (OTPForm.controls['create_ftop_Identification'].dirty || OTPForm.controls['create_ftop_Identification'].touched))}">
                            <div class="has-error"
                                *ngIf="(hasError && OTPForm.controls['create_ftop_Identification'].errors) || (OTPForm.controls['create_ftop_Identification'].errors && (OTPForm.controls['create_ftop_Identification'].dirty || OTPForm.controls['create_ftop_Identification'].touched))">
                                <span
                                    *ngIf="OTPForm.controls['create_ftop_Identification'].errors.required">{{'general.validations.requiredField'| translate}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-xl-4 col-xs-12">
                            <button type="button" class="btn btn-credi btn-block text-uppercase text-white"
                                (click)="onForwardOtp()">Reenviar</button>
                        </div>
                        <div class="col-md-4 col-xl-4 col-xs-12">

                        </div>
                        <div class="col-md-4 col-xl-4 col-xs-12">
                            <button type="button" class="btn btn-credi btn-block text-uppercase text-white"
                                (click)="onClearForm()">Limpiar</button>
                        </div>
                    </div>

                    <div class="col-xs-12 m-t-10">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>