<app-navbar></app-navbar>

<div class="row ml-5 mt-2 pb-2" *ngIf="pokemonList.length > 0">
  <div *ngFor="let pokemonItem of pokemonList" class="card-deck pt-2 pl-1">
    <div class="card card-yuxi bg-light" style="width:200px;" (click)="onClickPokemon(pokemonItem.id)">
      <div class="card-header">
        <h3 class="card-title text-center text-capitalize font-weight-bold">{{pokemonItem.name}}</h3>
      </div>
      <img class="card-img-top" src="{{pokemonItem.image}}" alt="Card image">
      <div class="card-body">
        <p class="card-text" *ngIf="pokemonItem.type.length > 1">Type : <label for="type"
            class="text-capitalize">{{pokemonItem.type[0].name}}/{{pokemonItem.type[1].name}}</label>
        </p>
        <p class="card-text" *ngIf="pokemonItem.type.length === 1">Type : <label for="type"
            class="text-capitalize">{{pokemonItem.type[0].name}}</label>
        </p>
      </div>
    </div>
  </div>

</div>