<div class="row row">
  <div class="col-12">
    <div class="card">
      <div class="row m-2" style=" font-weight: bold; font-size: 25px; color: rgba(7, 70, 163, 0.897); " >
        {{'home.label.title' | translate}}
      </div>
      <!-- <div class="row m-2">
        <div class="apps-card" *ngFor="let item of listHomeConfig">
          <a routerLink="{{ item.Path }}"></a>
          <span class="apps-card-title">{{ item.OptionMenu }}</span>
          <img class="apps-card-icon" [src]="item.Icon" alt="" />
        </div>
      </div> -->
    </div>
  </div>
</div>
