<div class="row">
  <div class="col-12">
    <component-messages #messages></component-messages>
    <div class="card">
      <div class="card-header">
        <div class="offset-10 card-header-button" style="text-align: end;">
          <button class="btn btn-circle btn-sm btn-primary-credi m-r-5" (click)="getCompanys()">
            <i aria-hidden="true" class="icon-magnifier text"></i>
          </button>
        </div>
      </div>
      <div class="card-body">

        <form class="form-group m-t-30" autocomplete="off" [formGroup]="filterForm">
          <div class="row">
            <div class="col-6">
              <label for="documentType" class="colorTitle">{{ 'company.label.documentType.label' | translate }}</label>
              <select class="form-control custom-select" id="filteruserDocumentType" name="filteruserDocumentType"
                formControlName="filteruserDocumentType">
                <option selected [ngValue]=undefined>
                  {{'company.label.documentType.placeHolder' | translate}}</option>
                <option *ngFor="let type of documentTypesList" [ngValue]=type.docID>
                  {{type.doc_description}}
                </option>
              </select>
            </div>
            <div class="col-6">
              <label for="userDocumenteNumber"
                class="colorTitle">{{ 'company.label.documentNumber.label' | translate }}</label>
              <input type="text" numeric class="form-control" id="filterDocumentNumber" name="filterDocumentNumber"
                formControlName="filterDocumentNumber"
                placeholder="{{ 'company.label.documentNumber.placeHolder' | translate }}">
            </div>
            <div class="col-6 m-t-10">
              <label for="filterName" class="colorTitle">{{ 'company.label.userName.label' | translate }}</label>
              <input type="text" class="form-control" id="filterName" name="filterName" formControlName="filterName"
                placeholder="{{ 'company.label.userName.placeHolder' | translate }}">
            </div>
            <div class="col-6 m-t-10">
              <label for="filterState" class="colorTitle">{{ 'company.label.state.label' | translate }}</label>
              <select class="form-control custom-select" id="filterState" name="filterState"
                formControlName="filterState">
                <option selected [ngValue]=undefined>{{'general.dropState.selectOne' | translate}}
                </option>
                <option [ngValue]="'V'">{{'general.dropState.valid' | translate}}</option>
                <option [ngValue]="'N'">{{'general.dropState.inValid' | translate}}</option>
              </select>
            </div>
          </div>
        </form>

        <div class="table table-responsive smart-table">
          <smart-table #smartTable [settings]="settings" [rowCount]="totalRecords"
            [labelNoRecords]="'general.noRecords'" [source]="companysList" (sortColumn)="sortDataTable($event)"
            (pageChange)="changePage($event)">
          </smart-table>
        </div>

      </div>
    </div>
  </div>
</div>
