<div class="row">
    <div class="col-12 page-titles">
        <div class="col-lg-9 col-md-4 col-xs-12 align-self-center">
        <h4 class="text-themecolor m-b-0">Abono a capital Credito de Consumo</h4>
        </div>
        <div class="col-lg-3 col-md-8 col-xs-12 align-self-center"></div>
        <ol class="breadcrumb"></ol>
    </div>
    <div class="col-12"> 
    <component-messages #messages></component-messages>
      <div class="card"> 
        <form [formGroup]="searchCreditForm" action="submit" class="form-group m-t-30 ml-5" autocomplete="off" >
          <div class="row">           
            <div class="col-5"> 
              <label for="selectDocumentType" class="colorTitle">{{
                'ConsumeCredit.label.abonoacapital.documentType'
                  | translate 
              }}</label>
              <select
                #selectDocumentType
                class="form-control select"
                formControlName="documentTypeGcDdl"
                name="documentTypeGcDdl"
                id="selectDocumentType" 
                required           
              >
                <option disabled [ngValue]="null" selected="true">
                  Seleccione uno
                </option>
                <option
                  *ngFor="let documentType of documentTypesGc"
                  value="{{ documentType.Code }}"
                >
                  {{ documentType.Value }}
                </option>
              </select>
  
              <div
                *ngIf="submittedSearch && c.documentTypeGcDdl.errors"
                class="invalid-feedback"
              >
                <div *ngIf="c.documentTypeGcDdl.errors.required">Requerido</div>
              </div>
            </div>
            <div class="col-5">
              <label for="clientDocument" class="colorTitle">{{
                'ConsumeCredit.label.abonoacapital.documentNumber' | translate
              }}</label>
              <input
                #inputDocument
                type="text"
                formControlName="clientDocument"
                class="form-control"
                id="clientDocument"
                name="clientDocument"
                required 
                [ngClass]="{
                  'is-invalid': submittedSearch && c.clientDocument.errors
                }"
                placeholder="{{
                  'savingAccounts.generateCertificate.documentId' | translate
                }}"
              />
              <div
                *ngIf="submittedSearch && c.clientDocument.errors"
                class="invalid-feedback"
              >
                <div *ngIf="c.clientDocument.errors.required">Requerido</div>
                <div *ngIf="c.clientDocument.errors.minlength">
                  Mínimo 5 caracteres
                </div>
                <div *ngIf="c.clientDocument.errors.pattern">
                  Caracteres invalidos
                </div>
                <div *ngIf="c.clientDocument.errors.maxlength">
                  Máximo 15 caracteres
                </div>
              </div>
            </div>
  
            <div class="col-2">
              <br />
              <button class="btn btn-outline-default"  (click)="SearchAccounts()">
                   <em class="mdi mdi-account-search mdi-36px"></em> 
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-12"> 
      <div class="card"> 
      <form [formGroup]="getFileForm" action="submit" class="form-group m-t-30 ml-5" autocomplete="off">
        <div class="row">
            <div class="col-4" *ngIf="accountExist">
              <label for="selectCreditNumber" class="colorTitle">{{
                  'ConsumeCredit.label.abonoacapital.NumberCredit'
                    | translate 
                }}</label>
              <select
                #selectCreditNumber
                formControlName="selectCreditNumber"
                class="form-control select"
                name="selectCreditNumber"
                id="selectCreditNumber" 
                (change)="onChange(selectCreditNumber.value)"
                required 
              >
                <option disabled [ngValue]="null" selected="true" >
                  Seleccione un producto
                </option>
                <option
                  *ngFor="let item of numberCreditConsume"
                  value="{{ item.CreditNumber }}" 
                >
                  {{ item.CreditNumber }}

                </option>
              </select>
            </div>
         
            <div class="col-3" *ngIf="accountSelected" >
              <label for="labelProducyType" class="colorTitle">{{
                  'ConsumeCredit.label.abonoacapital.Product'
                    | translate 
                }}</label>
                <input
                #labelProducyType
                type="text"
                formControlName="labelProducyType"
                class="form-control"
                id="labelProducyType"
                name="labelProducyType"
                disabled="true"
                value="{{ creditFilter.ProducyType }}"
              />      
                  <!-- <label for="labelProducyType" class="form-control select">
                    "{{ creditFilter.ProducyType }}"
                </label> -->
            </div>
            <div class="col-3"  *ngIf="accountSelected">
              <label for="labelEANcode" class="colorTitle">{{
                  'ConsumeCredit.label.abonoacapital.Account'
                    | translate 
                }}</label>
                <input
                #labelEANcode
                type="text"
                formControlName="labelEANcode"
                class="form-control"
                id="labelEANcode"
                name="labelEANcode"
                disabled="true"
                value="{{ creditFilter.EANcode }}"
              />
                  <!-- <label for="labelvalueToPay" class="form-control select">
                    "{{ creditFilter.ValuePay }}"
                </label> -->
            </div>
          </div>
  
        <br /> 
    
        <div class="row" *ngIf="accountSelected">
            <div class="col-4" >
              <label for="labelValueCuote" class="colorTitle">{{
                'ConsumeCredit.label.abonoacapital.ValueCuote'
                  | translate 
              }}</label>
              <input
              #labelValueCuote
              type="text"
              appCurrencyMask 
              formControlName="labelValueCuote"
              class="form-control"
              id="labelValueCuote"
              name="labelValueCuote"
              [value]=" creditFilter.ValuePay "
            />  
              
                <!-- <label for="labelProducyType" class="form-control select">
                  "{{ creditFilter.ProducyType }}"
              </label> -->
            </div>
         
            <div class="col-3" *ngIf="accountSelected" >
              <label for="labelValuePay" class="colorTitle">{{
                'ConsumeCredit.label.abonoacapital.ValuetotalPay'
                  | translate 
              }}</label>
              <input
              #labelValuePay
              type="text"
              appCurrencyMask
              maxlength="13"              
              formControlName="labelValuePay"
              class="form-control"
              id="labelValuePay"
              name="labelValuePay"
              required
            />  
            <div
            *ngIf="f.labelValuePay.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.labelValuePay.errors.required">Requerido</div>
            <div *ngIf="f.labelValuePay.errors.minlength">
              Mínimo 5 caracteres
            </div>
            <!-- <div *ngIf="f.labelValuePay.errors.pattern">
              Caracteres invalidos
            </div> -->
            <div *ngIf="f.labelValuePay.errors.maxlength">
              Máximo 15 caracteres
            </div>
          </div>   
                <!-- <label for="labelProducyType" class="form-control select">
                  "{{ creditFilter.ProducyType }}"
              </label> -->
            </div>
            <div class="col-3"  *ngIf="accountSelected">
              <label for="DateLimitOfPay" class="colorTitle">{{
                'ConsumeCredit.label.abonoacapital.DateLimitOfPay'
                  | translate 
              }}</label>
              
              <div class="input-group">
                <input
                  type="date"
                  class="form-control"
                  id="DateLimitOfPay"
                  [readonly]="true"
                  formControlName="DateLimitOfPay"
                  [minDate]="dateMin"
                  [maxDate]="dateMax"
                  name="DateLimitOfPay"
                  ngbDatepicker
                  #d="ngbDatepicker"
                  placeholder="dd-mm-aaaa"
                  [placement]="'bottom'"
                  required
  
                />
                <div class="input-group-append">
                  <button
                    (click)="d.toggle()"
                    class="btn btn-outline-secondary calendar fa fa-calendar"
                    type="button"
                  ></button>
                </div>
              </div>
            </div>
          </div>
      

        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
              <button
                class="m-5 btn btn-outline-primary form-control"  (click)="getFile()"
                >
                Generar PDF
              </button>
            </div>
            <div class="col-3">
              <button class="m-5 btn btn-primary-credi" (click)="cleanForm()">
                Limpiar Campos
              </button>
            </div>
            <div class="col-3"></div>
        </div>
     </form>
   </div>
  </div>
</div>

