<div class="row">
    <div class="col-12">
        <component-messages #messages></component-messages>
        <div class="card">
            <div class="card-header">
                <div class="offset-10 card-header-button" style="text-align: end;">
                    <button class="btn btn-circle btn-sm btn-primary-credi m-r-5" validate [actions]="[24]"
                        (click)="openCreateProfileModal()">
                        <i aria-hidden="true" class="ti-plus text font-weight-bold"></i>
                    </button>
                    <button class="btn btn-circle btn-sm btn-primary-credi m-r-5" validate [actions]="[23]"
                        (click)="getUserByFilter()">
                        <i aria-hidden="true" class="icon-magnifier text"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <form class="form-group m-t-30" autocomplete="off" [formGroup]="filterForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="usr_userName"
                                class="colorTitle">{{ 'profile.labels.usr_userName.label' | translate }}</label>
                            <input type="text" formControlName="usr_userName" class="form-control" id="filterusr_userName"
                                name="filterusr_userName" (keyup)="getUserByFilter()"
                                placeholder="{{ 'profile.labels.usr_userName.placeHolder' | translate }}" />
                        </div>
                        <div class="col-6">
                            <label for="rl_name"
                                class="colorTitle">{{ 'profile.labels.rl_name' | translate }}</label>
                            <select formControlName="rl_name" class="form-control custom-select"
                                id="filterrl_name" (change)="getUserByFilter()" name="filterrl_name">
                                <option selected [ngValue]=undefined>{{'profile.dropState.selectOne' | translate}}
                                </option>
                                <option [ngValue]="'01'">{{'role.Administrator' | translate}}</option>
                                <option [ngValue]="'02'">{{'role.Editor' | translate}}</option>
                                <option [ngValue]="'03'">{{'role.Assistant' | translate}}</option>
                                <option [ngValue]="'04'">{{'role.Visitor' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </form>

                <div class="table table-responsive smart-table" *ngIf="totalRecords > 0" >
                    <smart-table #smartTable [settings]="settings" 
                        [rowCount]="totalRecords" [labelNoRecords]="'general.noRecords'" [source]="usersList"
                        
                        (sortColumn)="sortDataTable($event)" (pageChange)="changePage($event)"
                        >
                        <!-- (edit)="editProfile($event)" (editConfirm)="confirmEdit()" (delete)="confirmDelete($event)" -->
                    </smart-table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- <id-modal #createModal [showButtons]=true size="lg" [closeModalInAcceptEvent]=false
    [acceptMessage]="createModalAceptText" [closeMessage]="createModalCloseText" title="{{createModalTitle}}"
    (accept)="createProfile()" (close)="closeCreate()">
    <ng-container modal-body>
        <div class="col-12">
            <form [formGroup]="createForm" class="form-group m-t-30" autocomplete="off" novalidate>
                <div class="row m-b-10">
                    <div class="col-4">
                        <label for="create_pro_name"
                            class="colorTitle">{{ 'profile.labels.usr_userName.label' | translate }}</label>
                    </div>
                    <div class="col-8">
                        <input name="create_pro_name" id="create_pro_name" formControlName="create_pro_name"
                            placeholder="{{ 'profile.labels.usr_userName.placeHolder' | translate }}" type="text"
                            class="form-control"
                            [ngClass]="{'has-error': (hasError && createForm.controls['create_pro_name'].errors) || (createForm.controls['create_pro_name'].errors && (createForm.controls['create_pro_name'].dirty || createForm.controls['create_pro_name'].touched))}">
                        <div class="has-error"
                            *ngIf="(hasError && createForm.controls['create_pro_name'].errors) || (createForm.controls['create_pro_name'].errors && (createForm.controls['create_pro_name'].dirty || createForm.controls['create_pro_name'].touched))">
                            <span
                                *ngIf="createForm.controls['create_pro_name'].errors.required">{{'general.requiredField'| translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row m-b-10">
                    <div class="col-4">
                        <label for="create_pro_status"
                            class="colorTitle">{{ 'profile.labels.rl_name' | translate }}</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control custom-select" id="create_pro_status" name="create_pro_status"
                            formControlName="create_pro_status"
                            [ngClass]="{'has-error': (hasError && createForm.controls['create_pro_status'].errors) || (createForm.controls['create_pro_status'].errors && (createForm.controls['create_pro_status'].dirty || createForm.controls['create_pro_status'].touched))}">
                            <option selected [value]="undefined">{{'profile.dropState.selectOne' | translate}}</option>
                            <option value="V">{{'profile.dropState.valid' | translate}}</option>
                            <option value="N">{{'profile.dropState.inValid' | translate}}</option>
                        </select>
                        <div class="has-error"
                            *ngIf="(hasError && createForm.controls['create_pro_status'].errors) || (createForm.controls['create_pro_status'].errors && (createForm.controls['create_pro_status'].dirty || createForm.controls['create_pro_status'].touched))">
                            <span
                                *ngIf="createForm.controls['create_pro_status'].errors.required">{{'general.requiredField'| translate}}</span>
                        </div>
                    </div>
                </div>

                <div class="row m-b-10">
                    <div class="col-4">
                        <label for="create_pro_id_homologacion"
                            class="colorTitle">{{ 'profile.labels.homologacionID.label' | translate }}</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="create_pro_id_homologacion" name="create_pro_id_homologacion"
                            formControlName="create_pro_id_homologacion"
                            placeholder="{{ 'profile.labels.homologacionID.placeHolder' | translate }}"
                            class="form-control"
                            [ngClass]="{'has-error': (hasError && createForm.controls['create_pro_id_homologacion'].errors) || (createForm.controls['create_pro_id_homologacion'].errors && (createForm.controls['create_pro_id_homologacion'].dirty || createForm.controls['create_pro_id_homologacion'].touched))}">
                        <div class="has-error"
                            *ngIf="(hasError && createForm.controls['create_pro_id_homologacion'].errors) || (createForm.controls['create_pro_id_homologacion'].errors && (createForm.controls['create_pro_id_homologacion'].dirty || createForm.controls['create_pro_id_homologacion'].touched))">
                            <span
                                *ngIf="createForm.controls['create_pro_id_homologacion'].errors.required">{{'general.requiredField'| translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row m-b-10">
                    <div class="col-4">
                        <label for="create_pro_id_homologacion_cf"
                            class="colorTitle">{{ 'profile.labels.homologacionIDCF.label' | translate }}</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="create_pro_id_homologacion_cf" name="create_pro_id_homologacion_cf"
                            formControlName="create_pro_id_homologacion_cf"
                            placeholder="{{ 'profile.labels.homologacionIDCF.placeHolder' | translate }}"
                            class="form-control"
                            [ngClass]="{'has-error': (hasError && createForm.controls['create_pro_id_homologacion_cf'].errors) || (createForm.controls['create_pro_id_homologacion_cf'].errors && (createForm.controls['create_pro_id_homologacion_cf'].dirty || createForm.controls['create_pro_id_homologacion_cf'].touched))}">
                        <div class="has-error"
                            *ngIf="(hasError && createForm.controls['create_pro_id_homologacion_cf'].errors) || (createForm.controls['create_pro_id_homologacion_cf'].errors && (createForm.controls['create_pro_id_homologacion_cf'].dirty || createForm.controls['create_pro_id_homologacion_cf'].touched))">
                            <span
                                *ngIf="createForm.controls['create_pro_id_homologacion_cf'].errors.required">{{'general.requiredField'| translate}}</span>
                        </div>
                    </div>
                </div>


                <div class="row m-b-10">
                    <div class="col-4">
                        <label for="create_pro_portal"
                            class="colorTitle">{{ 'profile.labels.portal' | translate }}</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control custom-select" id="create_pro_portal" name="create_pro_portal"
                            formControlName="create_pro_portal"
                            [ngClass]="{'has-error': (hasError && createForm.controls['create_pro_portal'].errors) || (createForm.controls['create_pro_portal'].errors && (createForm.controls['create_pro_portal'].dirty || createForm.controls['create_pro_portal'].touched))}">
                            <option selected [value]="undefined">{{'profile.dropPortal.selectOne' | translate}}</option>
                            <option value=1>{{'profile.dropPortal.renovacion' | translate}}</option>
                            <option value=2>{{'profile.dropPortal.administrador' | translate}}</option>
                        </select>
                        <div class="has-error"
                            *ngIf="(hasError && createForm.controls['create_pro_portal'].errors) || (createForm.controls['create_pro_portal'].errors && (createForm.controls['create_pro_portal'].dirty || createForm.controls['create_pro_portal'].touched))">
                            <span
                                *ngIf="createForm.controls['create_pro_portal'].errors.required">{{'general.requiredField'| translate}}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-container>
</id-modal>

<id-modal #editModal [windowClass]="''" [showButtons]=true size="lg" [closeModalInAcceptEvent]=false
    [acceptMessage]="editModalAceptText" [closeMessage]="editModalCloseText" title="{{editModalTitle}}"
    (accept)="confirmEdit()" (close)="closeEdit()">
    <ng-container modal-body>
        <div>
            <form [formGroup]="editForm" class="form-group m-t-30" autocomplete="off" novalidate>
                <div class="row m-b-10">
                    <div class="col-2">
                        <label for="edit_pro_name"
                            class="colorTitle">{{ 'profile.labels.usr_userName.label' | translate }}</label>
                    </div>
                    <div class="col-10">
                        <input type="text" id="pro_name" name="edit_pro_name" formControlName="edit_pro_name"
                            placeholder="{{ 'profile.labels.usr_userName.placeHolder' | translate }}"
                            class="form-control"
                            [ngClass]="{'has-error': (hasError && editForm.controls['edit_pro_name'].errors) || (editForm.controls['edit_pro_name'].errors && (editForm.controls['edit_pro_name'].dirty || editForm.controls['edit_pro_name'].touched))}">
                        <div class="has-error"
                            *ngIf="(hasError && editForm.controls['edit_pro_name'].errors) || (editForm.controls['edit_pro_name'].errors && (editForm.controls['edit_pro_name'].dirty || editForm.controls['edit_pro_name'].touched))">
                            <span
                                *ngIf="editForm.controls['edit_pro_name'].errors.required">{{'general.requiredField'| translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row m-b-10">
                    <div class="col-2">
                        <label for="edit_pro_portal"
                            class="colorTitle">{{ 'profile.labels.portal' | translate }}</label>
                    </div>
                    <div class="col-10">
                        <select class="form-control custom-select" id="edit_pro_portal" name="edit_pro_portal"
                            formControlName="edit_pro_portal"
                            [ngClass]="{'has-error': (hasError && editForm.controls['edit_pro_portal'].errors) || (editForm.controls['edit_pro_portal'].errors && (editForm.controls['edit_pro_portal'].dirty || editForm.controls['edit_pro_portal'].touched))}">
                            <option selected [value]="undefined">{{'profile.dropPortal.selectOne' | translate}}</option>
                            <option value=1>{{'profile.dropPortal.renovacion' | translate}}</option>
                            <option value=2>{{'profile.dropPortal.administrador' | translate}}</option>
                        </select>
                        <div class="has-error"
                            *ngIf="(hasError && editForm.controls['edit_pro_portal'].errors) || (editForm.controls['edit_pro_portal'].errors && (editForm.controls['edit_pro_portal'].dirty || editForm.controls['edit_pro_portal'].touched))">
                            <span
                                *ngIf="editForm.controls['edit_pro_portal'].errors.required">{{'general.requiredField'| translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row m-b-10">
                    <div class="col-2">
                        <label for="edit_pro_id_homologacion"
                            class="colorTitle">{{ 'profile.labels.homologacionID.label' | translate }}</label>
                    </div>
                    <div class="col-10">
                        <input type="text" id="pro_name" name="edit_pro_id_homologacion"
                            formControlName="edit_pro_id_homologacion"
                            placeholder="{{ 'profile.labels.homologacionID.placeHolder' | translate }}"
                            class="form-control"
                            [ngClass]="{'has-error': (hasError && editForm.controls['edit_pro_id_homologacion'].errors) || (editForm.controls['edit_pro_id_homologacion'].errors && (editForm.controls['edit_pro_id_homologacion'].dirty || editForm.controls['edit_pro_id_homologacion'].touched))}">
                        <div class="has-error"
                            *ngIf="(hasError && editForm.controls['edit_pro_id_homologacion'].errors) || (editForm.controls['edit_pro_id_homologacion'].errors && (editForm.controls['edit_pro_id_homologacion'].dirty || editForm.controls['edit_pro_id_homologacion'].touched))">
                            <span
                                *ngIf="editForm.controls['edit_pro_id_homologacion'].errors.required">{{'general.requiredField'| translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row m-b-10">
                    <div class="col-2">
                        <label for="edit_pro_id_homologacion_cf"
                            class="colorTitle">{{ 'profile.labels.homologacionIDCF.label' | translate }}</label>
                    </div>
                    <div class="col-10">
                        <input type="text" id="pro_name" name="edit_pro_id_homologacion_cf"
                            formControlName="edit_pro_id_homologacion_cf"
                            placeholder="{{ 'profile.labels.homologacionIDCF.placeHolder' | translate }}"
                            class="form-control"
                            [ngClass]="{'has-error': (hasError && editForm.controls['edit_pro_id_homologacion_cf'].errors) || (editForm.controls['edit_pro_id_homologacion_cf'].errors && (editForm.controls['edit_pro_id_homologacion_cf'].dirty || editForm.controls['edit_pro_id_homologacion_cf'].touched))}">
                        <div class="has-error"
                            *ngIf="(hasError && editForm.controls['edit_pro_id_homologacion_cf'].errors) || (editForm.controls['edit_pro_id_homologacion_cf'].errors && (editForm.controls['edit_pro_id_homologacion_cf'].dirty || editForm.controls['edit_pro_id_homologacion_cf'].touched))">
                            <span
                                *ngIf="editForm.controls['edit_pro_id_homologacion_cf'].errors.required">{{'general.requiredField'| translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row m-b-10">
                    <div class="col-2">
                        <label for="edit_pro_status"
                            class="colorTitle">{{ 'profile.labels.rl_name' | translate }}</label>
                    </div>
                    <div class="col-10">
                        <select class="form-control custom-select" id="edit_pro_status" name="edit_pro_status"
                            formControlName="edit_pro_status"
                            [ngClass]="{'has-error': (hasError && editForm.controls['edit_pro_status'].errors) || (editForm.controls['edit_pro_status'].errors && (editForm.controls['edit_pro_status'].dirty || editForm.controls['edit_pro_status'].touched))}">
                            <option selected [value]=undefined>{{'profile.dropState.selectOne' | translate}}</option>
                            <option value="V">{{'profile.dropState.valid' | translate}}</option>
                            <option value="N">{{'profile.dropState.inValid' | translate}}</option>
                        </select>
                        <div class="has-error"
                            *ngIf="(hasError && editForm.controls['edit_pro_status'].errors) || (editForm.controls['edit_pro_status'].errors && (editForm.controls['edit_pro_status'].dirty || editForm.controls['edit_pro_status'].touched))">
                            <span
                                *ngIf="editForm.controls['edit_pro_status'].errors.required">{{'general.requiredField'| translate}}</span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row m-b-10">
                <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline table table-responsive"
                    style="width: 100%;overflow-x:  hidden;height: 300px;overflow-y: auto;">
                    <table style="-webkit-margin-top-collapse: discard;" id="datatable-responsive"
                        class="table table-striped table-bordered  no-wrap dataTable dtr-inline" cellspacing="0"
                        width="100%" role="grid" aria-describedby="datatable-responsive_info">
                        <thead>
                            <tr role="row">
                                <th style="width:80px">
                                    <label class="checkbox-inline"><input type="checkbox" name="selectedAllActions"
                                            [(ngModel)]="selectedAllActions" (change)="selectAllActions()"><label
                                            style="padding-left: 5px;"><B>{{'profile.labels.toAssign' | translate}}</B></label></label>
                                </th>
                                <th style="width:107px">{{'profile.labels.selectActiosn.option' | translate}}</th>
                                <th style="width:107px">{{'profile.labels.selectActiosn.functionality' | translate}}
                                </th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr class="odd" *ngFor="let item of actionsByProfile;let index = index;">

                                <td style="text-align: -webkit-center;">
                                    <label class="checkbox-inline"><input type="checkbox" trueFalseValue trueValue="V"
                                            falseValue="N" [checked]="item.abp_status == 'V'"
                                            [(ngModel)]="item.abp_status"></label>
                                </td>
                                <td>
                                    {{ item.action.option }}
                                </td>
                                <td>
                                    {{ item.action.functionality }}
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ng-container>
</id-modal>

<id-modal #deleteModal [showButtons]=true size="sm" title="{{this.events.eventAlertModal.title}}"
    acceptMessage="general.delete" closeMessage="general.buttons.cancel" (accept)="deleteItem()">
    <ng-container modal-header>{{events.eventAlertModal.title}}</ng-container>
    <ng-container modal-body>
        {{events.eventAlertModal.message}}
    </ng-container>
</id-modal> -->