<div class="row">
  <div class="col-12">
    <component-messages #messages></component-messages>

    <div class="card">
      <form
        action="submit"
        class="form-group m-t-30 ml-5"
        autocomplete="off"
        (ngSubmit)="searchClientInformation(searchAccountsForm)"
        [formGroup]="searchAccountsForm"
      >
        <div class="row">
          <div class="col-5">
            <label for="selectDocumentType" class="colorTitle">{{
              'savingAccounts.label.linkingAccounts.selectDocumentType'
                | translate
            }}</label>
            <select
              #selectDocumentType
              class="form-control select"
              formControlName="documentTypeDdl"
              (change)="documentTypeValidation(searchAccountsForm)"
              name="documentTypeDdl"
              id="documentTypeDdl"
              [ngClass]="{
                'is-invalid': submittedSearch && c.documentTypeDdl.errors
              }"
            >
              <option disabled [ngValue]="null" selected="true">
                Seleccione un tipo de documento
              </option>
              <option
                *ngFor="let documentType of documentTypes.DocumentTypesGc"
                value="{{ documentType.Code }}"
              >
                {{ documentType.Value }}
              </option>
            </select>

            <div
              *ngIf="submittedSearch && c.documentTypeDdl.errors"
              class="invalid-feedback"
            >
              <div *ngIf="c.documentTypeDdl.errors.required">Requerido</div>
            </div>
          </div>
          <div class="col-5">
            <label for="clientDocument" class="colorTitle">{{
              'savingAccounts.label.linkingAccounts.documentNumber' | translate
            }}</label>
            <input
              #inputDocument
              type="text"
              formControlName="clientDocument"
              class="form-control"
              id="clientDocument"
              name="clientDocument"
              (keyup)="documentNumberValidation($event)"
              [ngClass]="{
                'is-invalid': submittedSearch && c.clientDocument.errors
              }"
              placeholder="{{
                'savingAccounts.linkingAccounts.documentId' | translate
              }}"
            />
            <div *ngIf="legalPerson">NIT sin número de verificación</div>
            <div
              *ngIf="submittedSearch && c.clientDocument.errors"
              class="invalid-feedback"
            >
              <div *ngIf="c.clientDocument.errors.required">Requerido</div>
              <div *ngIf="c.clientDocument.errors.minlength">
                Mínimo {{ selectedDocument.minLength }} caracteres
              </div>
              <div *ngIf="c.clientDocument.errors.pattern">
                Caracteres invalidos
              </div>
              <div *ngIf="c.clientDocument.errors.maxlength">
                Máximo {{ selectedDocument.maxLength }} caracteres
              </div>
            </div>
          </div>

          <div class="col-2">
            <br />
            <button type="submit" class="btn btn-outline-default">
              <em class="mdi mdi-account-search mdi-36px"></em>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="row animated fadeInDown"
  [(ngModel)]="clientInformation"
  *ngIf="clientInfoExist.info"
  name="clientInformationfield"
  ngDefaultControl
>
  <div class="col-12">
    <div class="card">
      <div class="row m-3">
        <div class="col-3">
          <label> {{ clientInformation.NombreORazonSocial }}</label>
        </div>
        <div class="col-3">
          <label for="">{{ clientInformation.NumerodeIdentificacion }}</label>
        </div>
        <div class="col-3">
          <label for="">{{ clientInformation.CiudadDomicilio }}</label>
        </div>
        <div class="col-3">
          <button
            type="button"
            class="btn btn-outline-default"
            (click)="openUserInformation(clientInformation)"
          >
            <em class="mdi mdi-account-card-details mdi-36px"></em>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeInDown" *ngIf="clientInfoExist.accounts">
  <div class="col-12">
    <div class="card">
      <form
        (ngSubmit)="associateAccount()"
        class="form-group ml-5"
        [formGroup]="associateAccountForm"
      >
        <div class="row m-3">
          <div class="col-6">
            <label for="selectSubtype">Seleccione una cuenta</label>
            <select
              #selectAccountToAssciate
              class="form-control select"
              formControlName="accountToAssociate"
              name="accountToAssociate"
              id="selectAccountToAssciate"
              (change)="validateAccount(selectAccountToAssciate.value)"
              [ngClass]="{
                'is-invalid': submittedAssociate && d.accountToAssociate.errors
              }"
            >
              <option disabled [ngValue]="null" selected="true">
                Seleccione una Cuenta
              </option>
              <option
                *ngFor="let account of accountsByClient"
                value="{{ account.NumerodeCuenta }}"
              >
                {{ account.NumerodeCuenta }}
              </option>
            </select>
            <div
              *ngIf="submittedAssociate && d.accountToAssociate.errors"
              class="invalid-feedback"
            >
              <div *ngIf="d.accountToAssociate.errors.required">Requerido</div>
            </div>
          </div>
          <div class="col-4">
            <label for="selectSubtype">Seleccione SubTipo</label>
            <select
              #selectSubtype
              class="form-control select"
              formControlName="subtype"
              name="subtype"
              id="selectSubtype"
              [ngClass]="{
                'is-invalid': submittedAssociate && d.subtype.errors
              }"
            >
              <option disabled [ngValue]="null" selected="true">
                Seleccione uno
              </option>
              <option
                *ngFor="let item of productTypes.ProductsSA"
                value="{{ item.ProductTypeId }}"
              >
                {{ item.ProductDescription }}
              </option>
            </select>
          </div>
          <div class="col-2">
            <br />
            <button
              [disabled]="!linkAccountButton"
              type="submit"
              [ngClass]="[
                !linkAccountButton ? 'btn btn-danger' : 'btn btn-primary-credi'
              ]"
            >
              {{
                'savingAccounts.label.linkingAccountsModal.Acept' | translate
              }}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-10 m-3" *ngIf="legalPerson">
            <label class="colorTitle" for="inputShortName">{{
              'savingAccounts.linkingAccounts.legalPerson.shortname' | translate
            }}</label>
            <input
              #inputShortName
              class="form-control"
              id="inputShortName"
              name="legalPersonShortName"
              formControlName="legalPersonShortName"
              [ngClass]="{
                'is-invalid':
                  submittedAssociate && d.legalPersonShortName.errors
              }"
            />

            <div
              *ngIf="submittedAssociate && d.legalPersonShortName.errors"
              class="invalid-feedback"
            >
              <small *ngIf="d.legalPersonShortName.errors?.required"
                >Requerido</small
              >
              <small *ngIf="d.legalPersonShortName.errors.minlength">
                Mínimo 6 caracteres
              </small>
              <small *ngIf="d.legalPersonShortName.errors.pattern">
                Caracteres invalidos
              </small>
              <small *ngIf="d.legalPersonShortName.errors.maxlength">
                Máximo 22 caracteres
              </small>
            </div>
          </div>
        </div>
        <div class="row"></div>
      </form>
    </div>
  </div>
</div>

<div class="row animated fadeInDown" *ngIf="transactionResult.Transanccion">
  <div class="col-12">
    <div class="card">
      <h3>Resultado de la transacción</h3>
      <ul>
        <li><strong> Nombre:</strong> {{ transactionResult.Nombre }}</li>
        <li>
          Tipo de identificacion: {{ transactionResult.Tipodeidentificacion }}
        </li>
        <li>
          Numero de Identificacion: {{ transactionResult.NumeroIdentificacion }}
        </li>
        <li>Numero de cuenta: {{ transactionResult.NumeroCuenta }}</li>
        <li>Tipo de producto: {{ transactionResult.TipoProducto }}</li>
        <li>
          Resultado de la transaccion:
          {{ transactionResult.ResultadoTransaccion }}
        </li>
      </ul>
    </div>
  </div>
  <br />
</div>

<id-modal
  #editAccountModal
  [windowClass]="''"
  [showButtons]="true"
  size="lg"
  [closeModalInAcceptEvent]="false"
  [acceptMessage]="editAccountModalAceptText"
  [closeMessage]="editAccountModalCloseText"
  title="{{ 'savingAccounts.label.linkingAccountsModal.title' | translate }}"
  (accept)="confirmEditAccount()"
  (close)="closeEditAccount()"
>
  <ng-container modal-body>
    <div class="col-12">
      <form [formGroup]="formEditAccount" action="form-group">
        <div class="row mb-3">
          <div class="col-5">
            <label>{{
              'savingAccounts.label.linkingAccountsModal.documentType'
                | translate
            }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_typeId"
              id="modal_typeId"
              formControlName="modal_typeId"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{
              'savingAccounts.label.linkingAccountsModal.documentNumber'
                | translate
            }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_Id"
              id="modal_Id"
              formControlName="modal_Id"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{
              'savingAccounts.label.linkingAccountsModal.FullName' | translate
            }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_fullName"
              id="modal_fullName"
              formControlName="modal_fullName"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{
              'savingAccounts.label.linkingAccountsModal.DireccionDomicilio'
                | translate
            }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_userAddres"
              id="modal_userAddres"
              formControlName="modal_userAddres"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{
              'savingAccounts.label.linkingAccountsModal.DireccionEmpresa'
                | translate
            }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_userCompanyAddress"
              id="modal_userCompanyAddress"
              formControlName="modal_userCompanyAddress"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{
              'savingAccounts.label.linkingAccountsModal.FechaIngreso'
                | translate
            }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_date"
              id="modal_date"
              formControlName="modal_date"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{
              'savingAccounts.label.linkingAccountsModal.Sucursal' | translate
            }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_branch"
              id="modal_branch"
              formControlName="modal_branch"
            />
          </div>
        </div>
      </form>
    </div>
  </ng-container>
</id-modal>
