<div class="login-register">
  <div class="login-box">
    <component-messages #messages></component-messages>
    <div class="card login-box-shadow">
      <div class="card-header rounded-top">
        <div class="image-container text-center">
          <img src="https://teams.sourceseek.com/logos/profile/limage-4505-104-photo.jpg" alt="loginPage" class="logo" />
        </div>
        <h1 class="text-themecolor font-weight-bold text-center mt-1">
          {{ 'administration.authentication.register.label.title' | translate }}
        </h1>
      </div>
      <div class="card-body rounded-bottom">
        <form class="form-horizontal form-material" id="registerForm" [formGroup]="registerForm" >
          <div class="form-group">
            <label for="name">{{ 'administration.authentication.register.label.name' | translate}}</label>
            <div class="col-xs-12">
              <input class="form-control" type="text" placeholder="{{ 'administration.authentication.register.label.name' | translate }}" id="name" formControlName="name"
                name="name" [ngClass]="{'has-error': (hasError && registerForm.controls['name'].errors) || (registerForm.controls['name'].errors && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)) }" />
              <div class="has-error" *ngIf=" (hasError && registerForm.controls['name'].errors) || (registerForm.controls['name'].errors && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched))">
                <span *ngIf="registerForm.controls['name'].errors.required">{{ 'general.validations.requiredField' | translate}}</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">{{ 'general.email.label' | translate}}</label>
            <div class="col-xs-12">
              <input class="form-control" type="text" placeholder="{{ 'general.email.label' | translate }}" id="email" formControlName="email"
                email="email" [ngClass]="{'has-error': (hasError && registerForm.controls['email'].errors) || (registerForm.controls['email'].errors && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)) }"
              />
              <div class="has-error" *ngIf=" (hasError && registerForm.controls['email'].errors) || (registerForm.controls['email'].errors && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched))">
                <span *ngIf="registerForm.controls['email'].errors.required">{{ 'general.validations.requiredField' | translate}}</span>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="psw">{{ 'administration.authentication.register.label.psw' | translate}}</label>
            <div class="col-xs-12">
              <input class="form-control" type="password" placeholder="{{ 'administration.authentication.register.label.psw' | translate }}" id="psw" formControlName="psw"
                psw="psw" [ngClass]="{'has-error': (hasError && registerForm.controls['psw'].errors) || (registerForm.controls['psw'].errors && (registerForm.controls['psw'].dirty || registerForm.controls['psw'].touched)) || invalidPasswordCharacters }" />
              <div class="has-error" *ngIf=" (hasError && registerForm.controls['psw'].errors) || (registerForm.controls['psw'].errors && (registerForm.controls['psw'].dirty || registerForm.controls['psw'].touched))">
                <span *ngIf="registerForm.controls['psw'].errors.required">{{ 'general.validations.requiredField' | translate}}</span>
                
              </div>
              <div class="has-error" *ngIf="invalidPasswordCharacters">
                <span>
                  Debe contener al menos:  1 carácter numérico, 2 caracteres alfabéticos, 1 letra mayúscula, 1 letra minúscula, 1 carácter especial y una longitud mínima de 8 caracteres",
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="psw">Confirmación de contraseña</label>
            <div class="col-xs-12">
              <input class="form-control" type="password" placeholder="Confirmación de contraseña" id="confirmPsw" formControlName="confirmPsw"
                confirmPsw="confirmPsw" [ngClass]="{'has-error': (hasError && registerForm.controls['confirmPsw'].errors) || (registerForm.controls['confirmPsw'].errors && (registerForm.controls['confirmPsw'].dirty || registerForm.controls['confirmPsw'].touched)) }" />
              <div class="has-error" *ngIf=" (hasError && registerForm.controls['confirmPsw'].errors) || (registerForm.controls['confirmPsw'].errors && (registerForm.controls['confirmPsw'].dirty || registerForm.controls['confirmPsw'].touched))">
                <span *ngIf="registerForm.controls['confirmPsw'].errors.required">{{ 'general.validations.requiredField' | translate}}</span>
                <span *ngIf="registerForm.controls['confirmPsw'].errors.comparePswError">Las contraseñas no coinciden</span>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <button type="button" class="btn btn-yuxi btn-block text-uppercase" (click)="register()">
              {{ 'administration.authentication.register.button.register' | translate }}
            </button>

            <button type="button" class="btn btn-yuxi btn-block text-uppercase" (click)="goLogin()">
              Cancelar
            </button>

          </div> 
          
        </form>
      </div>
    </div>
  </div>
</div>
