<div class="login-register">
  <div class="login-box">
    <div class="card login-box-shadow">
      <div class="card-header rounded-top">
        <div class="image-container text-center">
          <img src="https://teams.sourceseek.com/logos/profile/limage-4505-104-photo.jpg" alt="loginPage" class="logo" />
        </div>
        <h1 class="text-themecolor font-weight-bold text-center mt-1">
          PokeAPI Login
        </h1>
      </div>
      <div class="card-body rounded-bottom" style="padding-bottom: 0">
        <form class="form-horizontal form-material" id="loginform" [formGroup]="loginForm" >
          <div class="form-group">
            <label for="">Email</label>
            <div class="col-xs-12">
              <input class="form-control" type="text" required=""
                placeholder="Email" id="email" formControlName="email"
                name="email" [ngClass]="{'has-error': (hasError && loginForm.controls['email'].errors) || (loginForm.controls['email'].errors && (loginForm.controls['email'].dirty ||
                                                loginForm.controls['email'].touched)) }" />
              <div class="has-error" *ngIf=" (hasError && loginForm.controls['email'].errors) || (loginForm.controls['email'].errors && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched))">
                <span *ngIf="loginForm.controls['email'].errors.required">{{ 'general.validations.requiredField' | translate}}</span>
                <span *ngIf="loginForm.controls['email'].errors.requiredEmailFormat">El campo debe ser un correo válido</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <label for="">{{ 'administration.authentication.login.label.psw' | translate }}</label>
              <input class="form-control" type="password" required="" (keyup.enter)="onLoggedIn()"
                placeholder="{{ 'administration.authentication.login.label.psw' | translate }}"
                id="password" formControlName="psw" name="psw"
                [ngClass]="{
                  'has-error':
                    (hasError && loginForm.controls['psw'].errors) || (loginForm.controls['psw'].errors &&
                      (loginForm.controls['psw'].dirty ||
                        loginForm.controls['psw'].touched))
                }"
              />
              <div class="has-error" *ngIf=" (hasError && loginForm.controls['psw'].errors) ||
                                (loginForm.controls['psw'].errors && (loginForm.controls['psw'].dirty ||
                                    loginForm.controls['psw'].touched)) ">
                <span *ngIf="loginForm.controls['psw'].errors.required">{{ 'general.validations.requiredField' | translate}}</span>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <button type="button" class="btn btn-yuxi btn-block text-capitalize" (click)="onLoggedIn()">
              {{ 'administration.authentication.login.label.signIn' | translate }}
            </button>
            <button type="button" class="btn btn-yuxi btn-block text-capitalize" (click)="goRegister()">
              {{ 'administration.authentication.login.label.register' | translate }}
            </button>
          </div>
          <div class="col-xs-12 m-t-10"></div>

        </form>
      </div>
    </div>
  </div>
</div>
