<div class="row">
  <div class="col-12">
    <component-messages #messages></component-messages>

    <div class="card">
      <form
        action="submit"
        class="form-group m-t-30 ml-5"
        autocomplete="off"
        [formGroup]="searchAccountsForm"
        (ngSubmit)="searchClientInformation()"
      >
        <div class="row">
          <!-- <div class="col-3">
            <label for="selectProductType" class="colorTitle">{{
              'savingAccounts.label.generateCertificate.selectProductType'
                | translate
            }}</label>
            <select
              #selectDocumentType
              class="form-control select"
              formControlName="productTypeGcDdl"
              name="productTypeGcDdl"
              id="selectProductType"
              [ngClass]="{
                'is-invalid': submittedSearch && c.productTypeGcDdl.errors
              }"
            >
              <option disabled [ngValue]="null" selected="true">
                Seleccione uno
              </option>
              <option
                *ngFor="let productType of productTypesGc"
                value="{{ productType.AccountTypeId }}"
              >
                {{ productType.Description }}
              </option>
            </select>

            <div
              *ngIf="submittedSearch && c.productTypeGcDdl.errors"
              class="invalid-feedback"
            >
              <div *ngIf="c.productTypeGcDdl.errors.required">Requerido</div>
            </div>
          </div> -->
          <div class="col-5">
            <label for="selectDocumentType" class="colorTitle">{{
              'savingAccounts.label.generateCertificate.selectDocumentType'
                | translate
            }}</label>
            <select
              #selectDocumentType
              class="form-control select"
              formControlName="documentTypeGcDdl"
              name="documentTypeGcDdl"
              id="selectDocumentType"
              [ngClass]="{
                'is-invalid': submittedSearch && c.documentTypeGcDdl.errors
              }"
            >
              <option disabled [ngValue]="null" selected="true">
                Seleccione uno
              </option>
              <option
                *ngFor="let documentType of documentTypesGc"
                value="{{ documentType.Code }}"
              >
                {{ documentType.Value }}
              </option>
            </select>

            <div
              *ngIf="submittedSearch && c.documentTypeGcDdl.errors"
              class="invalid-feedback"
            >
              <div *ngIf="c.documentTypeGcDdl.errors.required">Requerido</div>
            </div>
          </div>
          <div class="col-5">
            <label for="clientDocument" class="colorTitle">{{
              'savingAccounts.label.linkingAccounts.documentNumber' | translate
            }}</label>
            <input
              #inputDocument
              type="text"
              formControlName="clientDocument"
              class="form-control"
              id="clientDocument"
              name="clientDocument"
              (input)="changeIdentification($event)"
              [ngClass]="{
                'is-invalid': submittedSearch && c.clientDocument.errors
              }"
              placeholder="{{
                'savingAccounts.generateCertificate.documentId' | translate
              }}"
            />
            <div
              *ngIf="submittedSearch && c.clientDocument.errors"
              class="invalid-feedback"
            >
              <div *ngIf="c.clientDocument.errors.required">Requerido</div>
              <div *ngIf="c.clientDocument.errors.minlength">
                Mínimo 5 caracteres
              </div>
              <div *ngIf="c.clientDocument.errors.pattern">
                Caracteres invalidos
              </div>
              <div *ngIf="c.clientDocument.errors.maxlength">
                Máximo 15 caracteres
              </div>
            </div>
          </div>

          <div class="col-2">
            <br />
            <button type="submit" class="btn btn-outline-default">
              <em class="mdi mdi-account-search mdi-36px"></em>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row" *ngIf="accountExist">
  <div class="col-12">
    <div class="card">
      <div class="row">
        <div class="col-4 ml-5">
          <select
            #selectAccountNumber
            class="form-control select mt-5"
            (change)="getAccountType(selectAccountNumber.value)"
          >
            <option value="null">Seleccione una cuenta</option>
            <option
              *ngFor="let item of accounts"
              value="{{ item.accountNumber }}"
            >
              {{ item.accountNumber }}
            </option>
          </select>
          <div class="ml-5" style="color: red" *ngIf="!accountSelected">
            Requerido
          </div>
        </div>
        <div class="col-6">
          <input
            type="text"
            class="form-control mt-5 ml-5"
            value="{{ productTypeGc }}"
            disabled
          />
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-sm-4">
          <button
            class="m-5 btn btn-outline-primary form-control"
            (click)="getCertificate(selectAccountNumber.value)"
          >
            Descargar certificado
          </button>
        </div>
        <div class="col-sm-4">
          <button class="m-5 btn btn-primary-credi" (click)="cleanForm()">
            Limpiar Campos
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
