<div class="row">
  <div class="col-12">
    <component-messages #messages></component-messages>
    <div class="card">
      <div class="card-header">
        <div class="offset-10 card-header-button" style="text-align: end">
          <!-- <button class="btn btn-circle btn-sm btn-primary-credi m-r-5" (click)="downloadReport()">
                        <i aria-hidden="true" class="ti-download text"></i>
                    </button> -->
          <button
            class="btn btn-circle btn-sm btn-primary-credi m-r-5"
            validate
            [actions]="[35]"
            (click)="getOffersHistory(1)"
          >
            <i aria-hidden="true" class="icon-magnifier text"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form
          class="form-group m-t-30"
          autocomplete="off"
          [formGroup]="filterForm"
        >
          <div class="row">
            <!-- <div class="col-6">
                            <label for="filterDocumentType" class="colorTitle">{{ 'offerHistory.documentType.label' | translate }}</label>
                            <select class="form-control custom-select" id="filterDocumentType" name="filterDocumentType" formControlName="filterDocumentType">
                                <option selected [ngValue]=undefined>
                                    {{'offerHistory.documentType.selectOne' | translate}}</option>
                                <option>
                                    {{'offerHistory.documentType.type' | translate}}
                                </option>
                                </select>
                        </div> -->
            <div class="col-6">
              <label for="filterDocumentNumber" class="colorTitle">{{
                'offerHistory.documentNumber.label' | translate
              }}</label>
              <input
                type="text"
                numeric
                class="form-control"
                id="filterDocumentNumber"
                name="filterDocumentNumber"
                formControlName="filterDocumentNumber"
                placeholder="{{
                  'offerHistory.documentNumber.placeHolder' | translate
                }}"
              />
            </div>
            <div class="col-6">
              <label for="filterStatus" class="colorTitle">{{
                'general.dropState.label' | translate
              }}</label>
              <select
                class="form-control custom-select"
                id="filterStatus"
                name="filterStatus"
                formControlName="filterStatus"
              >
                <option selected [ngValue]="undefined">
                  {{ 'general.dropState.selectOne' | translate }}
                </option>
                <option selected value="V">
                  {{ 'offerHistory.report.filter.status.valid' | translate }}
                </option>
                <option selected value="N">
                  {{
                    'offerHistory.report.filter.status.notCurrent' | translate
                  }}
                </option>
              </select>
            </div>
          </div>

          <div class="row">
            <!-- <div class="col-6">
                            <label for="filterStatus" class="colorTitle">{{ 'general.dropState.label' | translate }}</label>
                            <select class="form-control custom-select" id="filterStatus" name="filterStatus" formControlName="filterStatus">
                                <option selected [ngValue]=undefined>
                                    {{'general.dropState.selectOne' | translate}}</option>
                                <option selected value='V'>
                                    {{'offerHistory.report.filter.status.valid' | translate}}</option>
                                <option selected value='N'>
                                    {{'offerHistory.report.filter.status.notCurrent' | translate}}</option>
                            </select>
                        </div> -->
          </div>
        </form>

        <div class="table table-responsive smart-table">
          <smart-table
            #smartTable
            [settings]="settings"
            [rowCount]="totalRecords"
            [labelNoRecords]="'general.noRecords'"
            [source]="offersList"
            (edit)="openModal($event)"
            (delete)="confirmDelete($event)"
            (sortColumn)="sortDataTable($event)"
            (custom)="customButtons($event)"
            (pageChange)="changePage($event)"
          >
          </smart-table>
        </div>
      </div>
    </div>
  </div>
</div>

<id-modal
  #showModal
  [windowClass]="''"
  [showButtons]="false"
  size="lg"
  [closeModalInAcceptEvent]="false"
  [acceptMessage]="showModalAceptText"
  [closeMessage]="showModalCloseText"
  title="{{ showModalTitle }}"
>
  <ng-container modal-body>
    <div>
      <p>{{ 'offerHistory.title.name' | translate }}: {{ nombreHistorial }}</p>

      <p>
        {{ 'offerHistory.title.document' | translate }}:
        {{ documentoHistorial }}
      </p>

      <p>
        {{ 'offerHistory.title.campaign' | translate }}: {{ campaniaAsociada }}
      </p>
    </div>

    <!-- <div class="table table-responsive smart-table" *ngIf="showTable">
            <smart-table #smartTable [settings]="settingsDetail" [rowCount]="totalRecords" [labelNoRecords]="'general.noRecords'" [source]="historicStepList" (edit)="openModal($event)" (delete)="confirmDelete($event)" (sortColumn)="sortDataTableDetail($event)"
                (pageChange)="changePageDetail($event)">
            </smart-table>
        </div> -->
    <div class="row m-b-10">
      <div
        id="datatable-responsive_wrapper"
        class="dataTables_wrapper form-inline table table-responsive"
        style="width: 100%; overflow-x: hidden; height: 300px; overflow-y: auto"
      >
        <table
          style="-webkit-margin-top-collapse: discard; text-align: center"
          id="datatable-responsive"
          class="table table-striped table-bordered no-wrap dataTable dtr-inline"
          cellspacing="0"
          width="100%"
          role="grid"
          aria-describedby="datatable-responsive_info"
        >
          <thead>
            <tr role="row">
              <th scope="row" style="width: 107px">
                {{ 'offerHistory.labels.step.step' | translate }}
              </th>
              <th scope="row" style="width: 107px">
                {{
                  'offerHistory.labels.step.stepModificationDate' | translate
                }}
              </th>
            </tr>
          </thead>

          <tbody>
            <tr
              class="odd"
              *ngFor="let item of historicStepList; let index = index"
            >
              <td>
                {{ item.stepID }}
              </td>
              <td>
                {{ item.hisStep_step_date | date: 'short' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</id-modal>
<id-modal
  #detailMessageModal
  [windowClass]="''"
  [showButtons]="false"
  size="lg"
  [closeModalInAcceptEvent]="false"
  [acceptMessage]="showModalAceptText"
  [closeMessage]="showModalCloseText"
  title="{{ showModalMessageTitle }}"
>
  <ng-container modal-body>
    <!-- <div class="table table-responsive smart-table">
            <smart-table #smartTable [settings]="settingsmessage" [rowCount]="totalRecords"
                [labelNoRecords]="'general.noRecords'" [source]="offerList" (edit)="openModal($event)"
                (delete)="confirmDelete($event)" (sortColumn)="sortDataTableMessage($event)" (pageChange)="changePageDetail($event)">
            </smart-table>
        </div> -->
    <!-- <div class="row m-b-10">
            <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline table table-responsive"
                style="width: 100%;overflow-x:  hidden;height: 300px;overflow-y: auto;">
                <table style="-webkit-margin-top-collapse: discard; text-align: center;" id="datatable-responsive"
                    class="table table-striped table-bordered  no-wrap dataTable dtr-inline" cellspacing="0"
                    width="100%" role="grid" aria-describedby="datatable-responsive_info">
                    <thead>
                        <tr role="row">
                            <th style="width:107px">{{'offerHistory.grid.columnsName.emailStatus' | translate}}</th>
                            <th style="width:107px">{{'offerHistory.grid.columnsName.linkEmail' | translate}}</th>
                            <th style="width:107px">{{'offerHistory.grid.columnsName.smsStatus' | translate}}</th>
                            <th style="width:107px">{{'offerHistory.grid.columnsName.linkSms' | translate}}</th>
                        </tr>
                    </thead>

                    <tbody>
                         <tr class="odd" *ngFor="let item of historicStepList;let index = index;">
                            <td>
                                {{ item.stepID }}
                            </td>
                            <td>
                                {{ item.hisStep_step_date | date:'medium'}}
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div> -->
    <div>
      <p>
        {{ 'offerHistory.grid.columnsName.emailStatus' | translate }}: Enviado
      </p>
      <p>{{ 'offerHistory.grid.columnsName.linkEmail' | translate }}: 6</p>
      <p>
        {{ 'offerHistory.grid.columnsName.smsStatus' | translate }}: Enviado
      </p>
      <p>{{ 'offerHistory.grid.columnsName.linkSms' | translate }}: 6</p>
    </div>
  </ng-container>
</id-modal>
<!-- <id-modal #deleteModal [showButtons]=true size="sm" title="{{this.events.eventAlertModal.title}}" acceptMessage="general.delete" closeMessage="general.buttons.cancel">
    <ng-container modal-header>{{events.eventAlertModal.title}}</ng-container>
    <ng-container modal-body>
        {{events.eventAlertModal.message}}
    </ng-container>
</id-modal> -->
<!-- <component-loader [show]=showLoader></component-loader> -->
