<!-- <div class="row">
    <div class="col-12">
        <div class="col-10">
            <label for="adviser_name">Selecciona un asesor</label>

        </div>
    </div>
</div> -->

<div class="row">
  <div class="col-12">
    <component-messages #messages></component-messages>

    <div class="card">
      <form
        class="form-group m-t-30 ml-5"
        autocomplete="off"
        [formGroup]="filterForm"
      >
        <div class="row">
          <div class="col-5">
            <label for="pm_code" class="colorTitle">{{
              'cases.labels.ddl_advisor_search.label' | translate
            }}</label>

            <select
              #adviser_ddl
              (change)="getRequestfilters(adviser_ddl.value)"
              class="form-control select"
              name="adviser_name"
            >
              <option [ngValue]="null" disabled>Selecciona un asesor</option>
              <option
                *ngFor="let adviser of advisersList"
                value="{{ adviser.idUser }}"
              >
                {{ adviser.fullName }}
              </option>
            </select>
          </div>

          <div class="col-5">
            <label for="pm_advisor" class="colorTitle">{{
              'cases.labels.pm_input_search.label' | translate
            }}</label>
            <input
              #inputDocument
              type="text"
              formControlName="adviserId"
              class="form-control"
              id="filterpm_name"
              name="filterpm_advisor"
              [ngClass]="{ 'is-invalid': submitted && c.filterpm_name.errors }"
              placeholder="{{
                'cases.labels.pm_input_search.placeHolder' | translate
              }}"
            />
            <div
              *ngIf="submitted && c.filterpm_name.errors"
              class="invalid-feedback"
            >
              <div *ngIf="c.filterpm_name.errors.required">Requerido</div>
              <div *ngIf="c.filterpm_name.errors.minlength">
                Mínimo 7 caracteres
              </div>
              <div *ngIf="c.filterpm_name.errors.maxlength">
                Máximo 10 caracteres
              </div>
            </div>
          </div>

          <div class="col-2">
            <br />
            <button
              (click)="searchByDocument(inputDocument.value)"
              type="button"
              class="btn btn-outline-default"
            >
              <em class="mdi mdi-account-search mdi-36px"></em>
            </button>
          </div>
          <!-- <input type="text" formControlName="pm_code" class="form-control" id="filterpm_code"
                            name="filterpm_code" (keyup)="getPermissionByFilter()"
                            placeholder="{{ 'permission.labels.pm_code.placeHolder' | translate }}" /> -->
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="table table-responsive smart-table" *ngIf="totalRecords > 0">
        <smart-table
          #smartTable
          [settings]="tableSettings"
          [rowCount]="totalRecords"
          [source]="listCasesByAdviser"
          (edit)="editAdviserCase($event, adviser_ddl.value)"
          (pageChange)="changePage($event, adviser_ddl.value)"
        >
          <!-- (delete)="confirmDelete($event)" -->
        </smart-table>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="totalRecords == 0">
      <label>{{ 'cases.message.noRecords' | translate }}</label>
    </div>
  </div>
</div>

<id-modal
  #editCaseModal
  [windowClass]="''"
  [showButtons]="true"
  size="lg"
  [closeModalInAcceptEvent]="false"
  [acceptMessage]="editCaseModalAceptText"
  [closeMessage]="editCaseModalCloseText"
  title="{{ editCaseModalTitle }}"
  (accept)="confirmEditCase()"
  (close)="closeEditCase()"
>
  <ng-container modal-body>
    <div class="col-12">
      <form [formGroup]="formEditCase" action="form-group">
        <div class="row mb-3">
          <div class="col-5">
            <label>{{ 'cases.lables.modal.creationDate' | translate }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_CreationDate"
              id="modal_CreationDate"
              formControlName="modal_CreationDate"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{ 'cases.lables.modal.filingNumber' | translate }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_FilingNumber"
              id="modal_FilingNumber"
              formControlName="modal_FilingNumber"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{ 'cases.lables.modal.firstName' | translate }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_FirstName"
              id="modal_FirstName"
              formControlName="modal_FirstName"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{ 'cases.lables.modal.secondName' | translate }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_SecondName"
              id="modal_SecondName"
              formControlName="modal_SecondName"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{ 'cases.lables.modal.firstSurname' | translate }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_FirstSurname"
              id="modal_FirstSurname"
              formControlName="modal_FirstSurname"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{ 'cases.lables.modal.secondSurname' | translate }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_SecondSurname"
              id="modal_SecondSurname"
              formControlName="modal_SecondSurname"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{ 'cases.lables.modal.mobile' | translate }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_Mobile"
              id="modal_Mobile"
              formControlName="modal_Mobile"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{ 'cases.lables.modal.status' | translate }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_Status"
              id="modal_Status"
              formControlName="modal_Status"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{ 'cases.lables.modal.company' | translate }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_Company"
              id="modal_Company"
              formControlName="modal_Company"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{ 'cases.lables.modal.currentAdviser' | translate }}</label>
          </div>
          <div class="col-7">
            <input
              class="form-control"
              type="text"
              name="modal_CurrentAdviser"
              id="modal_CurrentAdviser"
              formControlName="modal_CurrentAdviser"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <label>{{ 'cases.lables.modal.newAdviser' | translate }}</label>
          </div>
          <div class="col-7">
            <select
              #new_adviser
              id="adviser_name_modal"
              formControlName="modal_NewAdviser"
              class="form-control select"
              name="adviser_name_modal"
            >
              <option value="0" selected="true">Selecciona un asesor</option>
              <option
                *ngFor="let adviser of advisersList"
                [ngValue]="adviser.idUser"
              >
                {{ adviser.fullName }}
              </option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </ng-container>
</id-modal>
