<header class="topbar">
  <nav class="d-flex top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="'/Users'" href="javascript:void(0)">
        <!-- Logo icon -->
        <strong>
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <!-- Dark Logo icon -->
          <img src="assets/images/icono.png" alt="logo" class="dark-logo" />
          <!-- Light Logo icon -->
          <!-- <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" /> -->
        </strong>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span>
          <!-- dark Logo text -->
          <img src="assets/images/logo.png" alt="homepage" class="dark-logo" />
          <!-- Light Logo text -->
          <!-- <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" /> -->
        </span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto mt-md-0" style="cursor: pointer">
        <!-- This is  -->
        <li
          style="cursor: pointer"
          (click)="toggleSidebar.emit()"
          class="nav-item m-l-10"
        >
          <a
            class="nav-link sidebartoggler waves-effect waves-dark"
            href="javascript:void(0)"
            ><em class="ti-menu"></em>
          </a>
        </li>
      </ul>
      <!-- ============================================================== -->
      <!-- User profile -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0" style="cursor: pointer">
        <!-- ============================================================== -->
        <!-- Profile -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
          <a
            ngbDropdownToggle
            class="nav-link dropdown-toggle text-muted waves-effect waves-dark"
            href="javascript:void(0)"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <!-- <img src="assets/images/users/1.jpg" alt="user" class="profile-pic" /> -->
            <h4 style="color: white">
              <em *ngIf="!avatar" class="fa fa-id-card"></em>
              {{ user?.usr_userName }}
              <img *ngIf="avatar" [src]="avatar" alt="" width="30" />
            </h4>
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="u-text">
                    <h4>{{ user?.usr_userName }}</h4>
                    <p class="text-muted">Nombre:{{ user?.usr_fullName }}</p>
                    <p class="text-muted"> Correo electrónico:{{ user?.usr_email }} </p>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li (click)="changePassword()">
                <a> <em class="fa fa-key"></em> {{ 'administration.authentication.register.label.changePsw' | translate }} </a>
              </li>
              <li (click)="closeSesion()">
                <a href="#"> <em class="fa fa-power-off"></em> {{ 'navigation.menu.label.logOut' | translate }} </a >
              </li>
            </ul>
          </div>
        </li>
        <!-- ============================================================== -->
        <!-- End Profile -->
        <!-- ============================================================== -->
      </ul>
      <!-- ============================================================== -->
      <!-- End User profile -->
      <!-- ============================================================== -->
    </div>
  </nav>
</header>
