<div class="row">
  <div class="col-12">
    <component-messages
      #messages
      style="white-space: pre-wrap"
    ></component-messages>
    <div class="card">
      <div class="card-header">
        <div class="offset-10 card-header-button" style="text-align: end">
          <button
            class="btn btn-circle btn-sm btn-primary-credi m-r-5"
            (click)="openCreateUserModal()"
            data-toggle="tooltip"
            data-placement="left"
            title="Nuevo"
          >
            <i aria-hidden="true" class="ti-plus text font-weight-bold"></i>
          </button>
          <!-- <button class="btn btn-circle btn-sm btn-primary-credi m-r-5" validate [actions]="[24]"
                        (click)="openCreateUserModal()">
                        <i aria-hidden="true" class="ti-plus text font-weight-bold"></i>
                    </button> -->
          <!-- <button class="btn btn-circle btn-sm btn-primary-credi m-r-5" validate [actions]="[23]"
                        (click)="getUserByFilter()">
                        <i aria-hidden="true" class="icon-magnifier text"></i>
                    </button> -->
          <button
            class="btn btn-circle btn-sm btn-primary-credi m-r-5"
            (click)="getUserByFilter()"
            data-toggle="tooltip"
            data-placement="left"
            title="Buscar"
          >
            <i aria-hidden="true" class="icon-magnifier text"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form
          class="form-group m-t-30"
          autocomplete="off"
          [formGroup]="filterForm"
        >
          <div class="row">
            <div class="col-6">
              <label for="usr_userName" class="colorTitle">{{
                'user.labels.usr_userName.label' | translate
              }}</label>
              <input
                type="text"
                formControlName="usr_userName"
                class="form-control"
                id="filterusr_userName"
                name="filterusr_userName"
                (keyup)="getUserByFilter()"
                placeholder="{{
                  'user.labels.usr_userName.placeHolder' | translate
                }}"
              />
            </div>
            <div class="col-6">
              <label for="rl_name" class="colorTitle">{{
                'user.labels.usr_numberDocument.label' | translate
              }}</label>
              <input
                formControlName="usr_numberDocument"
                class="form-control"
                id="filterusr_numberDocument"
                (keyup)="getUserByFilter()"
                name="filterusr_numberDocument"
                placeholder="Identificacón"
              />
            </div>
          </div>
        </form>

        <div
          class="table table-responsive smart-table"
          *ngIf="totalRecords > 0"
        >
          <smart-table
            #smartTable
            [settings]="settings"
            [rowCount]="totalRecords"
            [labelNoRecords]="'general.noRecords'"
            [source]="listUserByFilter"
            (sortColumn)="sortDataTable($event)"
            (pageChange)="changePage($event)"
            (edit)="editUser($event)"
            (editConfirm)="confirmEdit()"
          >
            <!-- (delete)="confirmDelete($event)" -->
          </smart-table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div>
          <label>Cargue masivo</label>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <label
              >Si desea hacer un cargue de usuarios masivo por favor dar click
              en descargar plantilla y al tenerla llena subir por la opción de
              cargar usuarios.</label
            >
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-12">
            <label style="color: black">Desacragar Plantilla</label>&nbsp;
            <button
              class="btn btn-primary-credi btn-sm"
              type="button"
              (click)="downloadTemplate(false)"
            >
              <i aria-hidden="true" class="ti-import"></i></button
            >&nbsp; <label style="color: black">Cargar Usuarios</label>&nbsp;
            <input
              #loadFile
              hidden
              type="file"
              accept=".csv"
              class="btn btn-primay-credi"
              (change)="bulkInsertUsers($event)"
            />
            <button
              class="btn btn-sm btn-primary-credi"
              (click)="loadFile.click()"
            >
              <i aria-hidden="true" class="ti-export"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<id-modal
  #createModal
  [showButtons]="true"
  size="lg"
  [closeModalInAcceptEvent]="false"
  [acceptMessage]="createModalAceptText"
  [closeMessage]="createModalCloseText"
  title="{{ createModalTitle }}"
  (accept)="createUser()"
  (close)="closeCreate()"
>
  <ng-container modal-body>
    <div class="col-12">
      <form
        [formGroup]="createForm"
        class="form-group m-t-30"
        autocomplete="off"
        novalidate
        id="crear"
      >
        <div class="row form-group m-b-12">
          <div class="col-2">
            <label for="create_usr_userName" class="colorTitle">Usuario</label>
          </div>
          <div class="col-4">
            <input
              name="create_usr_userName"
              id="create_usr_userName"
              formControlName="create_usr_userName"
              placeholder="{{
                'user.labels.usr_userName.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              (change)="validateuserName()"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    createForm.controls['create_usr_userName'].errors) ||
                  (createForm.controls['create_usr_userName'].errors &&
                    (createForm.controls['create_usr_userName'].dirty ||
                      createForm.controls['create_usr_userName'].touched))
              }"
            />
            <span class="has-error" *ngIf="userExist"
              >Nombre de usuario no disponible</span
            >
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  createForm.controls['create_usr_userName'].errors) ||
                (createForm.controls['create_usr_userName'].errors &&
                  (createForm.controls['create_usr_userName'].dirty ||
                    createForm.controls['create_usr_userName'].touched))
              "
            >
              <span
                *ngIf="
                  createForm.controls['create_usr_userName'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
          <div class="col-2">
            <label for="create_usr_fullName" class="colorTitle">Nombre</label>
          </div>
          <div class="col-4">
            <input
              name="create_usr_fullName"
              id="create_usr_fullName"
              formControlName="create_usr_fullName"
              placeholder="{{
                'user.labels.usr_fullName.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    createForm.controls['create_usr_fullName'].errors) ||
                  (createForm.controls['create_usr_fullName'].errors &&
                    (createForm.controls['create_usr_fullName'].dirty ||
                      createForm.controls['create_usr_fullName'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  createForm.controls['create_usr_fullName'].errors) ||
                (createForm.controls['create_usr_fullName'].errors &&
                  (createForm.controls['create_usr_fullName'].dirty ||
                    createForm.controls['create_usr_fullName'].touched))
              "
            >
              <span
                *ngIf="
                  createForm.controls['create_usr_fullName'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>

        <div class="row form-group m-b-12">
          <div class="col-2">
            <label for="create_usr_documentType" class="colorTitle"
              >Tipo Doc</label
            >
          </div>
          <div class="col-4">
            <select
              class="form-control custom-select"
              formControlName="create_usr_documentType"
              id="create_usr_documentType"
              name="create_usr_documentType"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    createForm.controls['create_usr_documentType'].errors) ||
                  (createForm.controls['create_usr_documentType'].errors &&
                    (createForm.controls['create_usr_documentType'].dirty ||
                      createForm.controls['create_usr_documentType'].touched))
              }"
            >
              <option selected [ngValue]="undefined">
                {{ 'user.labels.usr_documentType.placeHolder' | translate }}
              </option>
              <option *ngFor="let item of documentTypes" [ngValue]="item.id">
                {{ item.documentType }}
              </option>
            </select>
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  createForm.controls['create_usr_documentType'].errors) ||
                (createForm.controls['create_usr_documentType'].errors &&
                  (createForm.controls['create_usr_documentType'].dirty ||
                    createForm.controls['create_usr_documentType'].touched))
              "
            >
              <span
                *ngIf="
                  createForm.controls['create_usr_documentType'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
          <div class="col-2">
            <label for="create_usr_numberDocument" class="colorTitle"
              >Identificación</label
            >
          </div>
          <div class="col-4">
            <input
              name="create_usr_numberDocument"
              id="create_usr_numberDocument"
              formControlName="create_usr_numberDocument"
              placeholder="{{
                'user.labels.usr_numberDocument.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    createForm.controls['create_usr_numberDocument'].errors) ||
                  (createForm.controls['create_usr_numberDocument'].errors &&
                    (createForm.controls['create_usr_numberDocument'].dirty ||
                      createForm.controls['create_usr_numberDocument'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  createForm.controls['create_usr_numberDocument'].errors) ||
                (createForm.controls['create_usr_numberDocument'].errors &&
                  (createForm.controls['create_usr_numberDocument'].dirty ||
                    createForm.controls['create_usr_numberDocument'].touched))
              "
            >
              <span
                *ngIf="
                  createForm.controls['create_usr_numberDocument'].errors
                    .required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>

        <div class="row form-group m-b-12">
          <div class="col-2">
            <label for="create_usr_email" class="colorTitle">Correo</label>
          </div>
          <div class="col-4">
            <input
              name="create_usr_email"
              id="create_usr_email"
              formControlName="create_usr_email"
              type="email"
              placeholder="{{
                'user.labels.usr_email.placeHolder' | translate
              }}"
              class="form-control"
              (change)="validateUserEmail()"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    createForm.controls['create_usr_email'].errors) ||
                  (createForm.controls['create_usr_email'].errors &&
                    (createForm.controls['create_usr_email'].dirty ||
                      createForm.controls['create_usr_email'].touched))
              }"
            />
            <span class="has-error" *ngIf="emailUserExist"
              >Ya existe un usuario regsitrado con el correo electrónico
              ingresado</span
            >
            <div
              class="has-error"
              *ngIf="
                (hasError && createForm.controls['create_usr_email'].errors) ||
                (createForm.controls['create_usr_email'].errors &&
                  (createForm.controls['create_usr_email'].dirty ||
                    createForm.controls['create_usr_email'].touched))
              "
            >
              <span
                *ngIf="createForm.controls['create_usr_email'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>

          <div class="col-2">
            <label for="create_usr_role" class="colorTitle">{{
              'user.labels.usr_role.label' | translate
            }}</label>
          </div>
          <div class="col-4">
            <select
              class="form-control custom-select"
              formControlName="create_usr_role"
              id="create_usr_role"
              name="create_usr_role"
              [ngClass]="{
                'has-error':
                  (hasError && createForm.controls['create_usr_role'].errors) ||
                  (createForm.controls['create_usr_role'].errors &&
                    (createForm.controls['create_usr_role'].dirty ||
                      createForm.controls['create_usr_role'].touched))
              }"
            >
              <option selected [ngValue]="undefined">
                {{ 'user.dropState.selectOne' | translate }}
              </option>
              <option *ngFor="let item of listRoles" [ngValue]="item.rl_code">
                {{ item.rl_name }}
              </option>
            </select>
            <div
              class="has-error"
              *ngIf="
                (hasError && createForm.controls['create_usr_role'].errors) ||
                (createForm.controls['create_usr_role'].errors &&
                  (createForm.controls['create_usr_role'].dirty ||
                    createForm.controls['create_usr_role'].touched))
              "
            >
              <span
                *ngIf="createForm.controls['create_usr_role'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>

        <!-- <div class="row form-group m-b-12">
          <div class="col-2">
            <label for="create_usr_force" class="colorTitle">{{
              'user.labels.usr_force.label' | translate
            }}</label>
          </div>
          <div class="col-4">
            <select
              class="form-control custom-select"
              formControlName="create_usr_force"
              id="create_usr_force"
              name="create_usr_force"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    createForm.controls['create_usr_force'].errors) ||
                  (createForm.controls['create_usr_force'].errors &&
                    (createForm.controls['create_usr_force'].dirty ||
                      createForm.controls['create_usr_force'].touched))
              }"
            >
              <option selected [ngValue]="undefined">
                {{ 'user.dropState.selectOne' | translate }}
              </option>
              <option
                *ngFor="let item of commercialForces"
                [ngValue]="item.SCodigo"
              >
                {{ item.SDescripcion }}
              </option>
            </select>
            <div
              class="has-error"
              *ngIf="
                (hasError && createForm.controls['create_usr_force'].errors) ||
                (createForm.controls['create_usr_force'].errors &&
                  (createForm.controls['create_usr_force'].dirty ||
                    createForm.controls['create_usr_force'].touched))
              "
            >
              <span
                *ngIf="createForm.controls['create_usr_force'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div> -->
        <div class="row form-group m-b-12">
          <div class="col-8">
            <label for="">Avatar</label>&nbsp;
            <input
              hidden
              #fileUpload
              name="fileUpload"
              type="file"
              id="file"
              (change)="handleFileInput($event)"
              accept="image/*"
            />
            <button
              class="btn btn-circle btn-sm btn-primary-credi m-r-5"
              (click)="fileUpload.click()"
            >
              <i aria-hidden="true" class="ti-plus text font-weight-bold"></i>
            </button>
            <img
              *ngIf="imgTosee"
              [src]="imgTosee"
              width="80px"
              height="80px"
              alt="Icono Seleccionado"
            />
          </div>
        </div>
      </form>
    </div>
  </ng-container>
</id-modal>

<id-modal
  #editModal
  [windowClass]="''"
  [showButtons]="true"
  size="lg"
  [closeModalInAcceptEvent]="false"
  [acceptMessage]="editModalAceptText"
  [closeMessage]="editModalCloseText"
  title="{{ editModalTitle }}"
  (accept)="confirmEdit()"
  (close)="closeEdit()"
>
  <ng-container modal-body>
    <div class="col-12">
      <form
        [formGroup]="editForm"
        class="form-group m-t-30"
        autocomplete="off"
        novalidate
      >
        <div class="row form-group m-b-12">
          <div class="col-2">
            <label for="edit_usr_userName" class="colorTitle">Usuario</label>
          </div>
          <div class="col-4">
            <input
              name="edit_usr_userName"
              id="edit_usr_userName"
              formControlName="edit_usr_userName"
              placeholder="{{
                'user.labels.usr_userName.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError && editForm.controls['edit_usr_userName'].errors) ||
                  (editForm.controls['edit_usr_userName'].errors &&
                    (editForm.controls['edit_usr_userName'].dirty ||
                      editForm.controls['edit_usr_userName'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_usr_userName'].errors) ||
                (editForm.controls['edit_usr_userName'].errors &&
                  (editForm.controls['edit_usr_userName'].dirty ||
                    editForm.controls['edit_usr_userName'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_usr_userName'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
          <div class="col-2">
            <label for="edit_usr_fullName" class="colorTitle">Nombre</label>
          </div>
          <div class="col-4">
            <input
              name="edit_usr_fullName"
              id="edit_usr_fullName"
              formControlName="edit_usr_fullName"
              placeholder="{{
                'user.labels.usr_fullName.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError && editForm.controls['edit_usr_fullName'].errors) ||
                  (editForm.controls['edit_usr_fullName'].errors &&
                    (editForm.controls['edit_usr_fullName'].dirty ||
                      editForm.controls['edit_usr_fullName'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_usr_fullName'].errors) ||
                (editForm.controls['edit_usr_fullName'].errors &&
                  (editForm.controls['edit_usr_fullName'].dirty ||
                    editForm.controls['edit_usr_fullName'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_usr_fullName'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
          <!-- <div class="col-2">
            <label for="edit_usr_password" class="colorTitle">{{
              'user.labels.usr_password.label' | translate
            }}</label>
          </div>
          <div class="col-4">
            <input
              name="edit_usr_password"
              id="edit_usr_password"
              formControlName="edit_usr_password"
              placeholder="{{
                'user.labels.usr_password.placeHolder' | translate
              }}"
              [type]="hide ? 'password' : 'text'"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError && editForm.controls['edit_usr_password'].errors) ||
                  (editForm.controls['edit_usr_password'].errors &&
                    (editForm.controls['edit_usr_password'].dirty ||
                      editForm.controls['edit_usr_password'].touched))
              }"
              style="width: 82%"
            />&nbsp;
            <button class="btn btn-sm btn-primary" (click)="hide = !hide">
              <span class="{{ hide ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></span>
            </button>
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_usr_password'].errors) ||
                (editForm.controls['edit_usr_password'].errors &&
                  (editForm.controls['edit_usr_password'].dirty ||
                    editForm.controls['edit_usr_password'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_usr_password'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div> -->
        </div>

        <div class="row form-group m-b-12">
          <div class="col-2">
            <label for="edit_usr_documentType" class="colorTitle"
              >Tipo Documento</label
            >
          </div>
          <div class="col-4">
            <select
              class="form-control custom-select"
              formControlName="edit_usr_documentType"
              id="edit_usr_documentType"
              name="edit_usr_documentType"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    editForm.controls['edit_usr_documentType'].errors) ||
                  (editForm.controls['edit_usr_documentType'].errors &&
                    (editForm.controls['edit_usr_documentType'].dirty ||
                      editForm.controls['edit_usr_documentType'].touched))
              }"
            >
              <option selected [ngValue]="undefined">
                {{ 'user.labels.usr_documentType.placeHolder' | translate }}
              </option>
              <option [ngValue]="'1'">C.C.</option>
              <option [ngValue]="'2'">NIT</option>
            </select>
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  editForm.controls['edit_usr_documentType'].errors) ||
                (editForm.controls['edit_usr_documentType'].errors &&
                  (editForm.controls['edit_usr_documentType'].dirty ||
                    editForm.controls['edit_usr_documentType'].touched))
              "
            >
              <span
                *ngIf="
                  editForm.controls['edit_usr_documentType'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
          <div class="col-2">
            <label for="edit_usr_fullName" class="colorTitle"
              >Numero de documento</label
            >
          </div>
          <div class="col-4">
            <input
              name="edit_usr_numberDocument"
              id="edit_usr_numberDocument"
              formControlName="edit_usr_numberDocument"
              placeholder="{{
                'user.labels.usr_fullName.placeHolder' | translate
              }}"
              type="text"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    editForm.controls['edit_usr_numberDocument'].errors) ||
                  (editForm.controls['edit_usr_numberDocument'].errors &&
                    (editForm.controls['edit_usr_numberDocument'].dirty ||
                      editForm.controls['edit_usr_numberDocument'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError &&
                  editForm.controls['edit_usr_numberDocument'].errors) ||
                (editForm.controls['edit_usr_numberDocument'].errors &&
                  (editForm.controls['edit_usr_numberDocument'].dirty ||
                    editForm.controls['edit_usr_numberDocument'].touched))
              "
            >
              <span
                *ngIf="
                  editForm.controls['edit_usr_numberDocument'].errors.required
                "
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
        </div>

        <div class="row form-group m-b-12">
          <div class="col-2">
            <label for="edit_usr_email" class="colorTitle">Correo</label>
          </div>
          <div class="col-4">
            <input
              name="edit_usr_email"
              id="edit_usr_email"
              formControlName="edit_usr_email"
              placeholder="{{
                'user.labels.usr_email.placeHolder' | translate
              }}"
              type="email"
              class="form-control"
              [ngClass]="{
                'has-error':
                  (hasError && editForm.controls['edit_usr_email'].errors) ||
                  (editForm.controls['edit_usr_email'].errors &&
                    (editForm.controls['edit_usr_email'].dirty ||
                      editForm.controls['edit_usr_email'].touched))
              }"
            />
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_usr_email'].errors) ||
                (editForm.controls['edit_usr_email'].errors &&
                  (editForm.controls['edit_usr_email'].dirty ||
                    editForm.controls['edit_usr_email'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_usr_email'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
          <div class="col-2">
            <label for="edit_usr_role" class="colorTitle">{{
              'user.labels.usr_role.label' | translate
            }}</label>
          </div>
          <div class="col-4">
            <select
              class="form-control custom-select"
              formControlName="edit_usr_role"
              id="edit_usr_role"
              name="edit_usr_role"
              [ngClass]="{
                'has-error':
                  (hasError && editForm.controls['edit_usr_role'].errors) ||
                  (editForm.controls['edit_usr_role'].errors &&
                    (editForm.controls['edit_usr_role'].dirty ||
                      editForm.controls['edit_usr_role'].touched))
              }"
            >
              <option selected [ngValue]="undefined">
                {{ 'user.dropState.selectOne' | translate }}
              </option>
              <option *ngFor="let item of listRoles" [ngValue]="item.rl_code">
                {{ item.rl_name }}
              </option>
            </select>
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_usr_role'].errors) ||
                (editForm.controls['edit_usr_role'].errors &&
                  (editForm.controls['edit_usr_role'].dirty ||
                    editForm.controls['edit_usr_role'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_usr_role'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div>
          <!-- <div class="col-2">
            <label for="edit_usr_companyID" class="colorTitle">{{
              'user.labels.usr_companyID.label' | translate
            }}</label>
          </div>
          <div class="col-4">
            <select
              class="form-control custom-select"
              formControlName="edit_usr_companyID"
              id="edit_usr_companyID"
              name="edit_usr_companyID"
              [ngClass]="{
                'has-error':
                  (hasError &&
                    editForm.controls['edit_usr_companyID'].errors) ||
                  (editForm.controls['edit_usr_companyID'].errors &&
                    (editForm.controls['edit_usr_companyID'].dirty ||
                      editForm.controls['edit_usr_companyID'].touched))
              }"
            >
              <option selected [ngValue]="undefined">
                Seleccione la compañia
              </option>
              <option [ngValue]="1">Credivalores</option>
              <option [ngValue]="2">Credifinanciera</option>
            </select>
            <div
              class="has-error"
              *ngIf="
                (hasError && editForm.controls['edit_usr_companyID'].errors) ||
                (editForm.controls['edit_usr_companyID'].errors &&
                  (editForm.controls['edit_usr_companyID'].dirty ||
                    editForm.controls['edit_usr_companyID'].touched))
              "
            >
              <span
                *ngIf="editForm.controls['edit_usr_companyID'].errors.required"
                >{{ 'general.requiredField' | translate }}</span
              >
            </div>
          </div> -->
        </div>

        <div class="row form-group m-b-12">
          <div class="col-8">
            <label for="">Avatar</label>&nbsp;
            <input
              hidden
              #fileUpload
              name="fileUpload"
              type="file"
              id="file"
              (change)="handleFileInput($event)"
              accept="image/*"
            />
            <button
              class="btn btn-circle btn-sm btn-primary-credi m-r-5"
              (click)="fileUpload.click()"
            >
              <i aria-hidden="true" class="ti-plus text font-weight-bold"></i>
            </button>
            <img
              *ngIf="img"
              [src]="imgTosee"
              width="80px"
              height="80px"
              alt="Icono Seleccionado"
            />
          </div>
        </div>
      </form>
    </div>
  </ng-container>
</id-modal>
<id-modal
  #templateModal
  [showButtons]="true"
  size="md"
  [closeModalInAcceptEvent]="true"
  [acceptMessage]="downloadTemplateAceptText"
  [closeMessage]="editModalCloseText"
  title="{{ createModalTitle }}"
  (accept)="downloadTemplate(true)"
  (close)="closeTemplate()"
>
  <ng-container modal-body>
    <div class="col-12">
      <p>
        Recuerde que la plantilla la debe guardar como archivo de texto plano
        con extensión .CSV para que pueda ser cargada al sistema.
      </p>
    </div>
  </ng-container>
</id-modal>
