<form [formGroup]="searchCreditForm" action="submit" class="form-group m-t-30 ml-5" autocomplete="off" >
<div class="row">
    <div class="col-12 page-titles">
        <div class="col-1"></div> 
        <div class="col-lg-9 col-md-4 col-xs-12 align-self-center">
        <h4 class="text-themecolor m-b-0">Certificado no vínculo</h4>
        </div>
        <div class="col-lg-2 col-md-8 col-xs-12 align-self-center"></div>
        <ol class="breadcrumb"></ol>
    </div>
    <div class="col-12"> 
    <component-messages #messages></component-messages>
      <div class="card">        
          <div class="row"> 
            <div class="col-1"></div>          
            <div class="col-5"> 
              <label for="selectDocumentType" class="colorTitle">{{
                'CertificateNolink.label.documentType'
                  | translate 
              }}</label>
              <select
                #selectDocumentType
                class="form-control select"
                formControlName="documentTypeGcDdl"
                name="documentTypeGcDdl"
                id="selectDocumentType" 
                required           
              >
                <option disabled [ngValue]="null" selected="true">
                  Seleccione uno
                </option>
                <option
                  *ngFor="let documentType of documentTypesGc"
                  value="{{ documentType.Code }}"
                >
                  {{ documentType.Value }}
                </option>
              </select>
  
              <div
                *ngIf="submittedSearch && c.documentTypeGcDdl.errors"
                class="invalid-feedback"
              >
                <div *ngIf="c.documentTypeGcDdl.errors.required">Requerido</div>
              </div>
            </div>
            <div class="col-5">
              <label for="clientDocument" class="colorTitle">{{
                'CertificateNolink.label.documentNumber' | translate
              }}</label>
              <input
                #inputDocument
                type="text"
                formControlName="clientDocument"
                class="form-control"
                id="clientDocument"
                name="clientDocument"
                (change)="onChange($event)"
                required 
                [ngClass]="{
                  'is-invalid': submittedSearch && c.clientDocument.errors
                }"
                placeholder="{{
                  'CertificateNolink.label.documentId' | translate
                }}"
              />
              <div
                *ngIf="submittedSearch && c.clientDocument.errors"
                class="invalid-feedback"
              >
                <div *ngIf="c.clientDocument.errors.required">Requerido</div>
                <div *ngIf="c.clientDocument.errors.minlength">
                  Mínimo 5 caracteres
                </div>
                <div *ngIf="c.clientDocument.errors.pattern">
                  Caracteres invalidos
                </div>
                <div *ngIf="c.clientDocument.errors.maxlength">
                  Máximo 15 caracteres
                </div>
              </div>
            </div>
  
            <div class="col-1"></div> 
          </div>
      </div>
    </div>
  </div>
  
  <div class="row" >
    <div class="col-12">
      <div class="card">
        <div class="body-card">
        <!-- <form [formGroup]="getFileForm" action="submit" class="form-group m-t-30 ml-5" autocomplete="off"> -->
        <div class="row">
          <div class="col-1"></div> 
          <div class="col-5">
            <label for="nameClient" class="colorTitle">{{
              'CertificateNolink.label.nameClient' | translate
            }}</label>
            <input
              #inputDocument
              type="text"
              formControlName="nameClient"
              class="form-control"
              id="nameClient"
              name="nameClient"
              value="{{ NameClient }}"
              [ngClass]="{
                'is-invalid': submittedSearch && c.nameClient.errors
              }"
              placeholder="{{
                'CertificateNolink.label.nameClientPlace' | translate
              }}"
            />
            <div
              *ngIf="submittedSearch && c.nameClient.errors"
              class="invalid-feedback"
            >
              <!-- <div *ngIf="c.nameClient.errors.required">Requerido</div> -->
              <div *ngIf="c.nameClient.errors.pattern">
                Caracteres invalidos
              </div>
           </div>
          </div>
          <div class="col-5" >
            <label for="selectProducts" class="colorTitle">{{
                'CertificateNolink.label.Product'
                  | translate 
              }}</label>
            <select
              #selectCreditNumber
              formControlName="selectProducts"
              class="form-control select"
              name="selectProducts"
              id="selectProducts" 
        
              required 
            >
              <option disabled [ngValue]="null" selected="true">
                Seleccione un producto
              </option>
              <option
                *ngFor="let item of nameProducts"
                value="{{ item.Value }}"
              >
                {{ item.Description }}
              </option>
            </select>
         
          </div>
          <div class="col-1"></div> 
        </div>
        <br/>
        <br/> 
         <div class="row" >
          <div class="col-sm-3">
          </div>   
          <div class="col-4">
            <label for="emailClient" class="colorTitle">{{
              'CertificateNolink.label.emailClient' | translate
            }}</label>
            <input
              #inputDocument
              type="text"
              formControlName="emailClient"
              class="form-control"
              id="emailClient"
              name="emailClient"
              value = "{{ Email }}"
              [ngClass]="{
                'is-invalid': submittedSearch && c.emailClient.errors
              }"
              placeholder="{{
                'CertificateNolink.label.emailClients' | translate
              }}"
            />
            <div
              *ngIf="submittedSearch && c.emailClient.errors"
              class="invalid-feedback"
            >
              <div *ngIf="c.emailClient.errors.required">Requerido</div>
              <div *ngIf="c.emailClient.errors.minlength">
                Mínimo 5 caracteres
              </div>
              <div *ngIf="c.emailClient.errors.pattern">
                Correo no válido
              </div>
              <div *ngIf="c.emailClient.errors.maxlength">
                Máximo 15 caracteres
              </div>
            </div>
          </div>
          <div class="col-sm-2">
          </div>   
         </div> 
        
        <div class="row">
          <div class="col-sm-2">
          </div>        
          <div class="col-sm-3">
            <button
              class="m-5 btn btn-outline-primary"  (click)="getFilePeaceForm()"
              >
              Generar PDF
            </button>
          </div>
          <div class="col-sm-2">
            <button
              class="m-5 btn btn-outline-primary"  (click)="sendFilePeaceForm()"
              >
              Enviar
            </button>
          </div>
          <div class="col-sm-3">
            <button class="m-5 btn btn-primary-credi" (click)="cleanForm()">
              Limpiar Campos
            </button>
          </div>
          <div class="col-sm-2">
          </div>
        </div>
      </div>
    <!-- </form> -->
      </div>
    </div>
   
  </div>
</form>