<!-- [className]="rowClassFunction(row)" -->
<tr
  *ngFor="let row of grid.getRows()"
  (click)="userSelectRow.emit(row)"
  (mouseover)="rowHover.emit(row)"
  class="ng2-smart-row"
  [ngClass]="{ selected: row.isSelected }"
>
  <td
    *ngIf="isMultiSelectVisible"
    class="ng2-smart-action-multiple-select"
    (click)="multipleSelectRow.emit(row)"
  >
    <input type="checkbox" class="" [ngModel]="row.isSelected" />
  </td>
  <td
    *ngIf="
      !isActionEdit &&
      !isActionDelete &&
      customActions.length === 0 &&
      !isActionCopy
    "
  ></td>
  <td
    *ngIf="!row.isInEditing && showActionColumnLeft"
    class="ng2-smart-actions"
  >
    <ng2-st-tbody-edit-delete
      [actionCopyId]="actionCopyId"
      [actionDeleteId]="actionDeleteId"
      [actionEditId]="actionEditId"
      [grid]="grid"
      [deleteConfirm]="deleteConfirm"
      [editConfirm]="editConfirm"
      [copyConfirm]="copyConfirm"
      (edit)="edit.emit(row)"
      (delete)="delete.emit(row)"
      (copy)="copy.emit(row)"
      (editRowSelect)="editRowSelect.emit($event)"
      [row]="row"
      [source]="source"
    >
    </ng2-st-tbody-edit-delete>

    <ng2-st-tbody-custom
      [grid]="grid"
      (custom)="custom.emit($event)"
      [row]="row"
      [source]="source"
    ></ng2-st-tbody-custom>
  </td>
  <td *ngIf="row.isInEditing && showActionColumnLeft" class="ng2-smart-actions">
    <ng2-st-tbody-create-cancel
      [grid]="grid"
      [row]="row"
      [editConfirm]="editConfirm"
    ></ng2-st-tbody-create-cancel>
  </td>
  <ng-container *ngFor="let cell of row.cells">
    <td *ngIf="cell.getColumn().visible">
      <ng2-smart-table-cell
        [cell]="cell"
        [grid]="grid"
        [row]="row"
        [isNew]="false"
        [mode]="mode"
        [editConfirm]="editConfirm"
        [inputClass]="editInputClass"
        [isInEditing]="row.isInEditing"
      >
      </ng2-smart-table-cell>
    </td>
  </ng-container>
  <td
    *ngIf="row.isInEditing && showActionColumnRight"
    class="ng2-smart-actions"
  >
    <ng2-st-tbody-create-cancel
      [grid]="grid"
      [row]="row"
      [editConfirm]="editConfirm"
    ></ng2-st-tbody-create-cancel>
  </td>

  <td
    *ngIf="!row.isInEditing && showActionColumnRight"
    class="ng2-smart-actions"
  >
    <ng2-st-tbody-edit-delete
      [grid]="grid"
      [deleteConfirm]="deleteConfirm"
      [editConfirm]="editConfirm"
      [row]="row"
      [source]="source"
      (edit)="edit.emit(row)"
      (delete)="delete.emit(row)"
      (editRowSelect)="editRowSelect.emit($event)"
    >
    </ng2-st-tbody-edit-delete>

    <ng2-st-tbody-custom
      [grid]="grid"
      (custom)="custom.emit($event)"
      [row]="row"
      [source]="source"
    ></ng2-st-tbody-custom>
  </td>
</tr>

<tr *ngIf="grid.getTotalRecords() == 0">
  <td
    [attr.colspan]="
      grid.getColumns().length +
      (isActionAdd || isActionEdit || isActionDelete) +
      1 +
      isMultiSelectVisible
    "
    style="text-align: center"
  >
    <em class="icon-info"></em> {{ grid.getNoRecordsMessage() | translate }}
  </td>
</tr>
