<div class="row">
  <div class="col-12">
    <component-messages #messages></component-messages>
    <div class="card">
      <div class="card-header">
        <div class="offset-10 card-header-button" style="text-align: end">
          <button class="btn btn-circle btn-sm btn-primary-credi m-r-5" (click)="openModal()">
            <i aria-hidden="true" class="ti-plus text font-weight-bold"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table table-responsive smart-table">
          <input #search class="search" type="text" placeholder="Buscar..." (keyup)="filter(search.value)" class="form-control" style="margin-left: 1%; width: 30%;">
          <smart-table #smartTable [settings]="settings" [rowCount]="totalRecords"
            [labelNoRecords]="'general.noRecords'" [source]="listHomeConfig" (edit)="ConfigurationSelected($event)"
            (editConfirm)="saveConfiguration()" (delete)="configurationToDelete($event)"
            (deleteConfirm)="saveConfiguration()">
          </smart-table>
        </div>
      </div>
    </div>
  </div>
</div>
<id-modal #createModal [showButtons]="true" size="lg" [closeModalInAcceptEvent]="false" [acceptMessage]="ModalAceptText"
  [closeMessage]="ModalCloseText" title="{{ ModalTitle }}" (accept)="getHomeConfigByUserId()" (close)="closeModal()">
  <ng-container modal-body>
    <div class="col-12">
      <form [formGroup]="homeConfigForm" *ngIf="!deleteConfig">
        <div class="row form-group">
          <div class="col-4">
            <label for="">Opcion de Menu</label>
            <select name="mop" id="mop" class="form-control" formControlName="OptionMenu">
              <option value="null">Seleccione Uno</option>
              <option *ngFor="let om of listMenuOptions" value="{{ om.name }}">
                {{ om.name }}
              </option>
            </select>
          </div>
          <div class="col-4">
            <label for="">Orden</label>
            <select name="orme" id="orme" class="form-control" formControlName="OrderOption">
              <option value="null">Seleccione Uno</option>
              <option *ngFor="let orm of orderMenu; index as i" value="{{ i }}">
                {{ orm }}
              </option>
            </select>
          </div>
          <div class="col-4">
            <label for="">Usuario</label>
            <select name="" id="" class="form-control" formControlName="UserId">
              <option value="null">Seleccione Uno</option>
              <option *ngFor="let usr of listUserByFilter" value="{{ usr.usrID }}">
                {{ usr.usr_userName }}
              </option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-8">
            <label for="">Icono</label>&nbsp;
            <input hidden #fileUpload name="fileUpload" type="file" id="file" (change)="handleFileInput($event)"
              accept="image/*" />
            <button class="btn btn-circle btn-sm btn-primary-credi m-r-5" (click)="fileUpload.click()">
              <i aria-hidden="true" class="ti-plus text font-weight-bold"></i>
            </button>
            <img *ngIf="imgTosee" [src]="imgTosee" width="80px" height="80px" alt="Icono Seleccionado" />
          </div>
        </div>
      </form>
      <h5 *ngIf="deleteConfig">! Esta seguro de Borrar el Registro...</h5>
    </div>
  </ng-container>
</id-modal>